<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="DF_EMPLEADO2_VU/report.js" type="text/javascript"></script>
<link href="DF_EMPLEADO2_VU/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">DF_EMPLEADO2_VU</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">ESTADO</td>
<td class="currentcell">VARCHAR2(8)</td>
<td class="currentcell">Yes</td>
<td class="currentcell">null</td>
<td class="currentcell">1</td>
<td class="currentcell">null</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>NOMBRE</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>ESTRUCTURAORGANIZACIONAL</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>JERARQUIA</td>
<td>VARCHAR2(500)</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>GERENCIA</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>COORDINACION</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>GERENTE</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>COORDINADOR</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>8</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 8)">
<td>LIDER</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>9</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 9)">
<td>TIPOESTRUCTURA</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>10</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 10)">
<td>PROVEEDOR</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>11</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 11)">
<td>PERFIL</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>12</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 12)">
<td>PERFILTIPO</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>13</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 13)">
<td>LINEAPRODUCTO</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>14</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 14)">
<td>PERFILNIVEL</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>15</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 15)">
<td>FECHAINICIO</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>16</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 16)">
<td>FECHAFIN</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>17</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 17)">
<td>MODALIDAD</td>
<td>VARCHAR2(5)</td>
<td>Yes</td>
<td>null</td>
<td>18</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 18)">
<td>COSTO_PUNTO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>19</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 19)">
<td>COSTO_MES</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>20</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 20)">
<td>PUNTOS_MES</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>21</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 21)">
<td>FACTOR_PUNTO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>22</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 22)">
<td>CMODALIDAD</td>
<td>VARCHAR2(20)</td>
<td>Yes</td>
<td>null</td>
<td>23</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 23)">
<td>COSTO_DESDE</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>24</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 24)">
<td>COSTO_HASTA</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>25</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 25)">
<td>TIPODOCUMENTO</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>26</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 26)">
<td>NUMERODOCUMENTO</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>27</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 27)">
<td>TELEFONO</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>28</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 28)">
<td>CORREO</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>29</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 29)">
<td>DIRECCIONRESIDENCIA</td>
<td>VARCHAR2(500)</td>
<td>Yes</td>
<td>null</td>
<td>30</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 30)">
<td>GENERONOMBRE</td>
<td>VARCHAR2(9)</td>
<td>Yes</td>
<td>null</td>
<td>31</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 31)">
<td>FECHANACIMIENTO</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>32</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 32)">
<td>CODEMPLEADO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>33</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 33)">
<td>CODPERSONA</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>34</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 34)">
<td>USUARIOCLARO</td>
<td>VARCHAR2(20)</td>
<td>Yes</td>
<td>null</td>
<td>35</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 2, 0)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">SP_GETDATA_DF_EMPLEADOS2_VU</td>
<td class="currentcell">PROCEDURE</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_EMPLEADO2_VU</td>
<td class="currentcell">VIEW</td>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
<div id="Child.0.0.2">
<div class="currentchildreport"><table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectRow(this, 3)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_EMPLEADO2_VU</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_ESTRUCTURA_FN</td>
<td class="currentcell">FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO2_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_NOMBRE_EMPLEADO_FN</td>
<td>FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO2_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_COSTO_EMPLEADO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO2_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO2_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_ESTRUCTURAORGANIZACIONAL</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO2_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_PERSONA</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO2_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_PROVEEDOR</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO2_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_USUARIO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO2_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TAKE_DESCRIPTION_FN</td>
<td>FUNCTION</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>29/07/22</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>14/05/25</td>
</tr>
<tr>
<td>OWNER</td>
<td>PDB_CRONUS</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>DF_EMPLEADO2_VU</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>2147</td>
</tr>
<tr>
<td>TEXT</td>
<td>SELECT&nbsp;distinct/*+&nbsp;NO_CPU_COSTING&nbsp;*/
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;E.VIGENTE&nbsp;=&nbsp;1&nbsp;THEN&nbsp;'ACTIVO'&nbsp;ELSE&nbsp;'INACTIVO'&nbsp;END&nbsp;ESTADO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(E.ID)&nbsp;AS&nbsp;NOMBRE,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eo.nombre&nbsp;ESTRUCTURAORGANIZACIONAL,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eo.jerarquia,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_estructura_fn(eo.jerarquia,1,1)&nbsp;GERENCIA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_estructura_fn(eo.jerarquia,2,1)&nbsp;COORDINACION,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(df_estructura_fn(eo.jerarquia,1))&nbsp;GERENTE,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(df_estructura_fn(eo.jerarquia,2))&nbsp;COORDINADOR,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(eo.codempleado_responsable)&nbsp;LIDER,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_ESTRUCTURATIPO',&nbsp;eo.codestructuratipo)&nbsp;TIPOESTRUCTURA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PV.NOMBRE&nbsp;PROVEEDOR,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_PERFIL',&nbsp;E.CODPERFIL)&nbsp;PERFIL,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_PERFILTIPO',&nbsp;E.CODPERFILTIPO)&nbsp;PERFILTIPO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_LINEASPRODUCTO',&nbsp;E.CODLINEAPRODUCTO)&nbsp;LINEAPRODUCTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_PERFILNIVEL',&nbsp;E.CODPERFILNIVEL)&nbsp;PERFILNIVEL,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E.FECHAINICIO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E.FECHAFIN,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;E.CODMODALIDAD&nbsp;WHEN&nbsp;1&nbsp;THEN&nbsp;'OPEX'&nbsp;ELSE&nbsp;'CAPEX'&nbsp;END&nbsp;MODALIDAD,&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.COSTO_PUNTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.COSTO_MES,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.UNIDADES&nbsp;PUNTOS_MES,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.FACTOR_UNIDAD&nbsp;FACTOR_PUNTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.MODALIDAD&nbsp;CMODALIDAD,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.DESDE&nbsp;COSTO_DESDE,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NVL(CE.HASTA,SYSDATE+365)&nbsp;COSTO_HASTA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_TIPODOCUMENTO',&nbsp;P.CODTIPODOCUMENTO)&nbsp;TIPODOCUMENTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.NUMERODOCUMENTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.TELEFONO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.CORREO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.DIRECCIONRESIDENCIA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;P.GENERO&nbsp;=&nbsp;'M'&nbsp;THEN&nbsp;'Masculino'&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;P.GENERO&nbsp;=&nbsp;'F'&nbsp;THEN&nbsp;'Femenino'&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END&nbsp;GENERONOMBRE,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.FECHANACIMIENTO,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E.ID&nbsp;CODEMPLEADO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.ID&nbsp;CODPERSONA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E.USUARIOCLARO
FROM&nbsp;DF_EMPLEADO&nbsp;E
LEFT&nbsp;JOIN&nbsp;DF_PERSONA&nbsp;P&nbsp;ON&nbsp;P.ID&nbsp;=&nbsp;E.CODPERSONA
LEFT&nbsp;JOIN&nbsp;DF_PROVEEDOR&nbsp;PV&nbsp;ON&nbsp;PV.ID&nbsp;=&nbsp;E.CODPROVEEDOR
LEFT&nbsp;JOIN&nbsp;DF_USUARIO&nbsp;U&nbsp;ON&nbsp;U.CODPERSONA&nbsp;=&nbsp;E.CODPERSONA&nbsp;&nbsp;AND&nbsp;U.ESTADO&nbsp;='A'
LEFT&nbsp;JOIN&nbsp;DF_ESTRUCTURAORGANIZACIONAL&nbsp;EO&nbsp;ON&nbsp;EO.ID&nbsp;=&nbsp;E.CODESTRUCTURAORGANIZACIONAL
LEFT&nbsp;JOIN&nbsp;DF_COSTO_EMPLEADO&nbsp;CE&nbsp;ON&nbsp;CE.CODEMPLEADO&nbsp;=&nbsp;E.ID&nbsp;AND&nbsp;CE.VIGENTE&nbsp;=&nbsp;1
ORDER&nbsp;BY&nbsp;E.FECHAFIN&nbsp;DESC,EO.NOMBRE,&nbsp;PV.NOMBRE</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>SELECT&nbsp;distinct/*+&nbsp;NO_CPU_COSTING&nbsp;*/
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;E.VIGENTE&nbsp;=&nbsp;1&nbsp;THEN&nbsp;'ACTIVO'&nbsp;ELSE&nbsp;'INACTIVO'&nbsp;END&nbsp;ESTADO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(E.ID)&nbsp;AS&nbsp;NOMBRE,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eo.nombre&nbsp;ESTRUCTURAORGANIZACIONAL,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eo.jerarquia,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_estructura_fn(eo.jerarquia,1,1)&nbsp;GERENCIA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_estructura_fn(eo.jerarquia,2,1)&nbsp;COORDINACION,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(df_estructura_fn(eo.jerarquia,1))&nbsp;GERENTE,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(df_estructura_fn(eo.jerarquia,2))&nbsp;COORDINADOR,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(eo.codempleado_responsable)&nbsp;LIDER,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_ESTRUCTURATIPO',&nbsp;eo.codestructuratipo)&nbsp;TIPOESTRUCTURA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PV.NOMBRE&nbsp;PROVEEDOR,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_PERFIL',&nbsp;E.CODPERFIL)&nbsp;PERFIL,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_PERFILTIPO',&nbsp;E.CODPERFILTIPO)&nbsp;PERFILTIPO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_LINEASPRODUCTO',&nbsp;E.CODLINEAPRODUCTO)&nbsp;LINEAPRODUCTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_PERFILNIVEL',&nbsp;E.CODPERFILNIVEL)&nbsp;PERFILNIVEL,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E.FECHAINICIO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E.FECHAFIN,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;E.CODMODALIDAD&nbsp;WHEN&nbsp;1&nbsp;THEN&nbsp;'OPEX'&nbsp;ELSE&nbsp;'CAPEX'&nbsp;END&nbsp;MODALIDAD,&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.COSTO_PUNTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.COSTO_MES,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.UNIDADES&nbsp;PUNTOS_MES,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.FACTOR_UNIDAD&nbsp;FACTOR_PUNTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.MODALIDAD&nbsp;CMODALIDAD,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CE.DESDE&nbsp;COSTO_DESDE,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NVL(CE.HASTA,SYSDATE+365)&nbsp;COSTO_HASTA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('DF_TIPODOCUMENTO',&nbsp;P.CODTIPODOCUMENTO)&nbsp;TIPODOCUMENTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.NUMERODOCUMENTO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.TELEFONO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.CORREO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.DIRECCIONRESIDENCIA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;P.GENERO&nbsp;=&nbsp;'M'&nbsp;THEN&nbsp;'Masculino'&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;P.GENERO&nbsp;=&nbsp;'F'&nbsp;THEN&nbsp;'Femenino'&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END&nbsp;GENERONOMBRE,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.FECHANACIMIENTO,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E.ID&nbsp;CODEMPLEADO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P.ID&nbsp;CODPERSONA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E.USUARIOCLARO
FROM&nbsp;DF_EMPLEADO&nbsp;E
LEFT&nbsp;JOIN&nbsp;DF_PERSONA&nbsp;P&nbsp;ON&nbsp;P.ID&nbsp;=&nbsp;E.CODPERSONA
LEFT&nbsp;JOIN&nbsp;DF_PROVEEDOR&nbsp;PV&nbsp;ON&nbsp;PV.ID&nbsp;=&nbsp;E.CODPROVEEDOR
LEFT&nbsp;JOIN&nbsp;DF_USUARIO&nbsp;U&nbsp;ON&nbsp;U.CODPERSONA&nbsp;=&nbsp;E.CODPERSONA&nbsp;&nbsp;AND&nbsp;U.ESTADO&nbsp;='A'
LEFT&nbsp;JOIN&nbsp;DF_ESTRUCTURAORGANIZACIONAL&nbsp;EO&nbsp;ON&nbsp;EO.ID&nbsp;=&nbsp;E.CODESTRUCTURAORGANIZACIONAL
LEFT&nbsp;JOIN&nbsp;DF_COSTO_EMPLEADO&nbsp;CE&nbsp;ON&nbsp;CE.CODEMPLEADO&nbsp;=&nbsp;E.ID&nbsp;AND&nbsp;CE.VIGENTE&nbsp;=&nbsp;1
ORDER&nbsp;BY&nbsp;E.FECHAFIN&nbsp;DESC,EO.NOMBRE,&nbsp;PV.NOMBRE</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>4</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.6" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
