<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="DF_ESTIMACIONES_VIGENTES/report.js" type="text/javascript"></script>
<link href="DF_ESTIMACIONES_VIGENTES/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">DF_ESTIMACIONES_VIGENTES</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">FECHAMODIFICACION</td>
<td class="currentcell">TIMESTAMP(6)</td>
<td class="currentcell">Yes</td>
<td class="currentcell">null</td>
<td class="currentcell">18</td>
<td class="currentcell">null</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>CODESTIMACION</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>1</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>NOMBRE_ESTIMACION</td>
<td>VARCHAR2(100)</td>
<td>Yes</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>HUT</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>CODENTREGABLE</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>ENTREGABLE</td>
<td>VARCHAR2(250)</td>
<td>Yes</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>PERFIL</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>CANTIDAD</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 8)">
<td>COSTO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>8</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 9)">
<td>CODPROYECTO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>9</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 10)">
<td>PROYECTO</td>
<td>VARCHAR2(2000)</td>
<td>Yes</td>
<td>null</td>
<td>10</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 11)">
<td>GERENTE</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>11</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 12)">
<td>PEP</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>12</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 13)">
<td>FECHAINICIO</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>13</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 14)">
<td>FECHAFIN</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>14</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 15)">
<td>CREADOR</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>15</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 16)">
<td>MODIFICADOR</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>16</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 17)">
<td>FECHACREACION</td>
<td>TIMESTAMP(6)</td>
<td>Yes</td>
<td>null</td>
<td>17</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 2, 0)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_EJECUTADOENRANGO_V</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_ESTIMACIONES_VIGENTES</td>
<td class="currentcell">VIEW</td>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
<div id="Child.0.0.2">
<div class="currentchildreport"><table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectRow(this, 3)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_ESTIMACIONES_VIGENTES</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_NOMBRE_EMPLEADO_FN</td>
<td class="currentcell">FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_ESTIMACIONES_VIGENTES</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_INICIATIVA</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_ESTIMACIONES_VIGENTES</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_COSTO_ESTIMACION</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_ESTIMACIONES_VIGENTES</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_ESTIMACION</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_ESTIMACIONES_VIGENTES</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_PRESUPUESTO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_ESTIMACIONES_VIGENTES</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_PROYECTO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_ESTIMACIONES_VIGENTES</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_PROYECTO_ESTIMACION</td>
<td>TABLE</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>20/03/25</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>07/07/25</td>
</tr>
<tr>
<td>OWNER</td>
<td>PDB_CRONUS</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>DF_ESTIMACIONES_VIGENTES</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>985</td>
</tr>
<tr>
<td>TEXT</td>
<td>SELECT
&nbsp;&nbsp;&nbsp;&nbsp;pe.id&nbsp;codestimacion,
&nbsp;&nbsp;&nbsp;&nbsp;pe.nombre_estimacion,
&nbsp;&nbsp;&nbsp;&nbsp;pe.hut,
&nbsp;&nbsp;&nbsp;&nbsp;e.id&nbsp;codentregable,
&nbsp;&nbsp;&nbsp;&nbsp;entregable,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;ce.perfil,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;e.cantidad,
&nbsp;&nbsp;&nbsp;&nbsp;e.costo,
&nbsp;&nbsp;&nbsp;&nbsp;pe.id_proyecto&nbsp;CODPROYECTO,
&nbsp;&nbsp;&nbsp;&nbsp;p.nombre&nbsp;PROYECTO,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(pr.codempleadogerente)&nbsp;GERENTE,
&nbsp;&nbsp;&nbsp;&nbsp;i.pep,
&nbsp;&nbsp;&nbsp;&nbsp;e.fechainicio,
&nbsp;&nbsp;&nbsp;&nbsp;e.fechafin,
&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(pe.codempleado_crea)&nbsp;creador,
&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(pe.codempleado_modifca)&nbsp;modificador,
&nbsp;&nbsp;&nbsp;&nbsp;pe.fechacreacion,
&nbsp;&nbsp;&nbsp;&nbsp;pe.fechamodificacion
FROM
&nbsp;&nbsp;&nbsp;&nbsp;df_estimacion&nbsp;e
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_proyecto_estimacion&nbsp;pe&nbsp;on&nbsp;pe.id&nbsp;=&nbsp;e.id_proyecto_estimacion
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_costo_estimacion&nbsp;ce&nbsp;on&nbsp;ce.id&nbsp;=&nbsp;e.perfil
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_proyecto&nbsp;p&nbsp;on&nbsp;p.id&nbsp;=&nbsp;e.codproyecto
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_iniciativa&nbsp;i&nbsp;on&nbsp;i.nombre&nbsp;=&nbsp;pe.nombre_estimacion&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_presupuesto&nbsp;pr&nbsp;on&nbsp;pr.id&nbsp;=&nbsp;p.codpresupuesto
WHERE&nbsp;i.pep&nbsp;is&nbsp;not&nbsp;null&nbsp;AND&nbsp;e.fechafin&nbsp;>=&nbsp;TRUNC(SYSDATE,&nbsp;'YEAR')&nbsp;AND&nbsp;pe.id_estado&nbsp;=&nbsp;2
--&nbsp;&nbsp;pe.nombre_estimacion&nbsp;=&nbsp;'MSInvIdenMnCARqPerUsRl'
ORDER&nbsp;BY&nbsp;pe.nombre_estimacion</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>SELECT
&nbsp;&nbsp;&nbsp;&nbsp;pe.id&nbsp;codestimacion,
&nbsp;&nbsp;&nbsp;&nbsp;pe.nombre_estimacion,
&nbsp;&nbsp;&nbsp;&nbsp;pe.hut,
&nbsp;&nbsp;&nbsp;&nbsp;e.id&nbsp;codentregable,
&nbsp;&nbsp;&nbsp;&nbsp;entregable,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;ce.perfil,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;e.cantidad,
&nbsp;&nbsp;&nbsp;&nbsp;e.costo,
&nbsp;&nbsp;&nbsp;&nbsp;pe.id_proyecto&nbsp;CODPROYECTO,
&nbsp;&nbsp;&nbsp;&nbsp;p.nombre&nbsp;PROYECTO,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(pr.codempleadogerente)&nbsp;GERENTE,
&nbsp;&nbsp;&nbsp;&nbsp;i.pep,
&nbsp;&nbsp;&nbsp;&nbsp;e.fechainicio,
&nbsp;&nbsp;&nbsp;&nbsp;e.fechafin,
&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(pe.codempleado_crea)&nbsp;creador,
&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(pe.codempleado_modifca)&nbsp;modificador,
&nbsp;&nbsp;&nbsp;&nbsp;pe.fechacreacion,
&nbsp;&nbsp;&nbsp;&nbsp;pe.fechamodificacion
FROM
&nbsp;&nbsp;&nbsp;&nbsp;df_estimacion&nbsp;e
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_proyecto_estimacion&nbsp;pe&nbsp;on&nbsp;pe.id&nbsp;=&nbsp;e.id_proyecto_estimacion
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_costo_estimacion&nbsp;ce&nbsp;on&nbsp;ce.id&nbsp;=&nbsp;e.perfil
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_proyecto&nbsp;p&nbsp;on&nbsp;p.id&nbsp;=&nbsp;e.codproyecto
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_iniciativa&nbsp;i&nbsp;on&nbsp;i.nombre&nbsp;=&nbsp;pe.nombre_estimacion&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;join&nbsp;df_presupuesto&nbsp;pr&nbsp;on&nbsp;pr.id&nbsp;=&nbsp;p.codpresupuesto
WHERE&nbsp;i.pep&nbsp;is&nbsp;not&nbsp;null&nbsp;AND&nbsp;e.fechafin&nbsp;>=&nbsp;TRUNC(SYSDATE,&nbsp;'YEAR')&nbsp;AND&nbsp;pe.id_estado&nbsp;=&nbsp;2
--&nbsp;&nbsp;pe.nombre_estimacion&nbsp;=&nbsp;'MSInvIdenMnCARqPerUsRl'
ORDER&nbsp;BY&nbsp;pe.nombre_estimacion</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>4</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.6" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
