<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="DF_INDICADOR_GERENCIA_2024_V/report.js" type="text/javascript"></script>
<link href="DF_INDICADOR_GERENCIA_2024_V/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">DF_INDICADOR_GERENCIA_2024_V</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">CODTAREAPADRE</td>
<td class="currentcell">NUMBER</td>
<td class="currentcell">Yes</td>
<td class="currentcell">null</td>
<td class="currentcell">1</td>
<td class="currentcell">null</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>IDPBI</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>EQUIPO</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>TAREAPADRE</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>F_ESTIMA</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>F_REAL</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>LINEAPRODUCTO</td>
<td>VARCHAR2(100)</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>FACTOR</td>
<td>NUMBER(38)</td>
<td>Yes</td>
<td>null</td>
<td>8</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 8)">
<td>CUMPLE</td>
<td>CHAR(2)</td>
<td>Yes</td>
<td>null</td>
<td>9</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 9)">
<td>INICIO</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>10</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 10)">
<td>FINAL</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>11</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>23/07/24</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>09/04/25</td>
</tr>
<tr>
<td>OWNER</td>
<td>PDB_CRONUS</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>DF_INDICADOR_GERENCIA_2024_V</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>2561</td>
</tr>
<tr>
<td>TEXT</td>
<td>SELECT&nbsp;DISTINCT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;codtareapadre
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,idpbi
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,EQUIPO
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,tareapadre
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,F_ESTIMA
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,F_REAL
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,lineaproducto
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,FACTOR
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,CASE&nbsp;WHEN&nbsp;ENFECHA&nbsp;=&nbsp;'SI'&nbsp;AND&nbsp;NODESPUES&nbsp;=&nbsp;'SI'&nbsp;AND&nbsp;NOANTES&nbsp;=&nbsp;'SI'&nbsp;THEN&nbsp;'SI'&nbsp;ELSE&nbsp;'NO'&nbsp;END&nbsp;CUMPLE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,INICIO
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,FINAL
&nbsp;&nbsp;&nbsp;&nbsp;FROM
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SELECT&nbsp;DISTINCT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.codtareapadre,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PBI.ID&nbsp;idpbi,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(select&nbsp;t2.nombre&nbsp;from&nbsp;df_tarea&nbsp;t2&nbsp;where&nbsp;t2.id&nbsp;=&nbsp;t.codtareapadre)&nbsp;tareapadre,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PBI.FECHA_DESPLIEGUE&nbsp;F_ESTIMA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PBI.FECHA_DESP_REAL&nbsp;F_REAL,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pbi.lineaproducto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nvl(nvl(PBI.FECHA_DESPLIEGUE,'31/12/1900')&nbsp;-&nbsp;PBI.FECHA_DESP_REAL,-99999)&nbsp;factor,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;FECHA_DESP_REAL&nbsp;IS&nbsp;NULL&nbsp;AND&nbsp;FECHA_DESPLIEGUE&nbsp;>&nbsp;ra.ffin&nbsp;THEN&nbsp;'SI'&nbsp;ELSE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;nvl(nvl(PBI.FECHA_DESPLIEGUE,'31/12/1900')&nbsp;-&nbsp;PBI.FECHA_DESP_REAL,-99999)&nbsp;&lt;&nbsp;0&nbsp;&nbsp;THEN&nbsp;'NO'&nbsp;ELSE&nbsp;'SI'&nbsp;END&nbsp;END
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENFECHA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;(FECHA_DESP_REAL&nbsp;>&nbsp;ra.ffin&nbsp;AND&nbsp;FECHA_DESP_REAL&nbsp;IS&nbsp;NOT&nbsp;NULL&nbsp;AND&nbsp;FECHA_DESP_REAL&nbsp;>&nbsp;FECHA_DESPLIEGUE)&nbsp;OR&nbsp;FECHA_DESP_REAL&nbsp;>&nbsp;SYSDATE&nbsp;&nbsp;THEN&nbsp;'NO'&nbsp;ELSE&nbsp;'SI'&nbsp;END
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NODESPUES,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;FECHA_DESPLIEGUE&nbsp;&lt;&nbsp;ra.fini&nbsp;&nbsp;AND&nbsp;FECHA_DESPLIEGUE&nbsp;IS&nbsp;NOT&nbsp;NULL&nbsp;THEN&nbsp;'NO'&nbsp;ELSE&nbsp;'SI'&nbsp;END
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NOANTES,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ESTRUCTURAORGANIZACIONAL&nbsp;EQUIPO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.fini&nbsp;as&nbsp;INICIO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.ffin&nbsp;as&nbsp;FINAL
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_proyecto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_tarea&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_empleadocontrol&nbsp;&nbsp;&nbsp;ec
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_empleado_vu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e&nbsp;ON&nbsp;e.codempleado&nbsp;=&nbsp;ec.codempleado
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;e.codtipoestructura&nbsp;&lt;>&nbsp;4&nbsp;ON&nbsp;ec.codtarea&nbsp;=&nbsp;t.id&nbsp;ON&nbsp;t.codproyecto&nbsp;=&nbsp;py.id
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_tareaestado&nbsp;te&nbsp;ON&nbsp;te.id&nbsp;=&nbsp;t.codtareaestado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;t.estado&nbsp;=&nbsp;'A'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_PRY_BRIEF_IDRLP&nbsp;PBI&nbsp;ON&nbsp;t.codtareapadre&nbsp;=&nbsp;pbi.codtarea&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_rango&nbsp;ra&nbsp;ON&nbsp;1=1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(to_date(ec.fechahorainicio,&nbsp;'DD/MM/YYYY')&nbsp;BETWEEN&nbsp;to_date(ra.fini,&nbsp;'DD/MM/YYYY')&nbsp;and&nbsp;to_date(ra.ffin,&nbsp;'DD/MM/YYYY')
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to_date(ec.fechahorafin,&nbsp;'DD/MM/YYYY')&nbsp;BETWEEN&nbsp;to_date(ra.fini,&nbsp;'DD/MM/YYYY')&nbsp;and&nbsp;to_date(ra.ffin,&nbsp;'DD/MM/YYYY'))
--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ec.fechahorainicio&nbsp;BETWEEN&nbsp;'01/03/24'&nbsp;and&nbsp;'31/03/24'
--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or
--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.fechahorafin&nbsp;BETWEEN&nbsp;'01/03/24'&nbsp;and&nbsp;'31/03/24')
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;substr(e.jerarquia,&nbsp;0,&nbsp;20)&nbsp;=&nbsp;lpad(ra.ger,&nbsp;10,&nbsp;0)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;lpad(ra.coord,&nbsp;10,&nbsp;0)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>SELECT&nbsp;DISTINCT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;codtareapadre
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,idpbi
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,EQUIPO
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,tareapadre
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,F_ESTIMA
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,F_REAL
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,lineaproducto
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,FACTOR
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,CASE&nbsp;WHEN&nbsp;ENFECHA&nbsp;=&nbsp;'SI'&nbsp;AND&nbsp;NODESPUES&nbsp;=&nbsp;'SI'&nbsp;AND&nbsp;NOANTES&nbsp;=&nbsp;'SI'&nbsp;THEN&nbsp;'SI'&nbsp;ELSE&nbsp;'NO'&nbsp;END&nbsp;CUMPLE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,INICIO
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,FINAL
&nbsp;&nbsp;&nbsp;&nbsp;FROM
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SELECT&nbsp;DISTINCT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.codtareapadre,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PBI.ID&nbsp;idpbi,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(select&nbsp;t2.nombre&nbsp;from&nbsp;df_tarea&nbsp;t2&nbsp;where&nbsp;t2.id&nbsp;=&nbsp;t.codtareapadre)&nbsp;tareapadre,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PBI.FECHA_DESPLIEGUE&nbsp;F_ESTIMA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PBI.FECHA_DESP_REAL&nbsp;F_REAL,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pbi.lineaproducto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nvl(nvl(PBI.FECHA_DESPLIEGUE,'31/12/1900')&nbsp;-&nbsp;PBI.FECHA_DESP_REAL,-99999)&nbsp;factor,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;FECHA_DESP_REAL&nbsp;IS&nbsp;NULL&nbsp;AND&nbsp;FECHA_DESPLIEGUE&nbsp;>&nbsp;ra.ffin&nbsp;THEN&nbsp;'SI'&nbsp;ELSE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;nvl(nvl(PBI.FECHA_DESPLIEGUE,'31/12/1900')&nbsp;-&nbsp;PBI.FECHA_DESP_REAL,-99999)&nbsp;&lt;&nbsp;0&nbsp;&nbsp;THEN&nbsp;'NO'&nbsp;ELSE&nbsp;'SI'&nbsp;END&nbsp;END
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENFECHA,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;(FECHA_DESP_REAL&nbsp;>&nbsp;ra.ffin&nbsp;AND&nbsp;FECHA_DESP_REAL&nbsp;IS&nbsp;NOT&nbsp;NULL&nbsp;AND&nbsp;FECHA_DESP_REAL&nbsp;>&nbsp;FECHA_DESPLIEGUE)&nbsp;OR&nbsp;FECHA_DESP_REAL&nbsp;>&nbsp;SYSDATE&nbsp;&nbsp;THEN&nbsp;'NO'&nbsp;ELSE&nbsp;'SI'&nbsp;END
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NODESPUES,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;FECHA_DESPLIEGUE&nbsp;&lt;&nbsp;ra.fini&nbsp;&nbsp;AND&nbsp;FECHA_DESPLIEGUE&nbsp;IS&nbsp;NOT&nbsp;NULL&nbsp;THEN&nbsp;'NO'&nbsp;ELSE&nbsp;'SI'&nbsp;END
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NOANTES,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ESTRUCTURAORGANIZACIONAL&nbsp;EQUIPO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.fini&nbsp;as&nbsp;INICIO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.ffin&nbsp;as&nbsp;FINAL
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_proyecto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_tarea&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_empleadocontrol&nbsp;&nbsp;&nbsp;ec
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_empleado_vu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e&nbsp;ON&nbsp;e.codempleado&nbsp;=&nbsp;ec.codempleado
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;e.codtipoestructura&nbsp;&lt;>&nbsp;4&nbsp;ON&nbsp;ec.codtarea&nbsp;=&nbsp;t.id&nbsp;ON&nbsp;t.codproyecto&nbsp;=&nbsp;py.id
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_tareaestado&nbsp;te&nbsp;ON&nbsp;te.id&nbsp;=&nbsp;t.codtareaestado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;t.estado&nbsp;=&nbsp;'A'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_PRY_BRIEF_IDRLP&nbsp;PBI&nbsp;ON&nbsp;t.codtareapadre&nbsp;=&nbsp;pbi.codtarea&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_rango&nbsp;ra&nbsp;ON&nbsp;1=1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(to_date(ec.fechahorainicio,&nbsp;'DD/MM/YYYY')&nbsp;BETWEEN&nbsp;to_date(ra.fini,&nbsp;'DD/MM/YYYY')&nbsp;and&nbsp;to_date(ra.ffin,&nbsp;'DD/MM/YYYY')
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to_date(ec.fechahorafin,&nbsp;'DD/MM/YYYY')&nbsp;BETWEEN&nbsp;to_date(ra.fini,&nbsp;'DD/MM/YYYY')&nbsp;and&nbsp;to_date(ra.ffin,&nbsp;'DD/MM/YYYY'))
--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ec.fechahorainicio&nbsp;BETWEEN&nbsp;'01/03/24'&nbsp;and&nbsp;'31/03/24'
--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or
--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.fechahorafin&nbsp;BETWEEN&nbsp;'01/03/24'&nbsp;and&nbsp;'31/03/24')
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;substr(e.jerarquia,&nbsp;0,&nbsp;20)&nbsp;=&nbsp;lpad(ra.ger,&nbsp;10,&nbsp;0)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;lpad(ra.coord,&nbsp;10,&nbsp;0)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>4</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
