<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="DF_ROADMAP_VU/report.js" type="text/javascript"></script>
<link href="DF_ROADMAP_VU/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">DF_ROADMAP_VU</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">NOMBREMICROSERVICIO</td>
<td class="currentcell">VARCHAR2(100)</td>
<td class="currentcell">Yes</td>
<td class="currentcell">null</td>
<td class="currentcell">1</td>
<td class="currentcell">null</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>ACTUALIZADO</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>ESTADO_SERVICIO</td>
<td>VARCHAR2(100)</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>PROYECTO</td>
<td>VARCHAR2(2000)</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>CODPRYBRIEF</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>URLPRODUCCION</td>
<td>VARCHAR2(300)</td>
<td>Yes</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>URLQA</td>
<td>VARCHAR2(300)</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>URLDEV</td>
<td>VARCHAR2(300)</td>
<td>Yes</td>
<td>null</td>
<td>8</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 8)">
<td>TRYSCAPE</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>9</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 9)">
<td>INFORMACION3SCALA</td>
<td>VARCHAR2(300)</td>
<td>Yes</td>
<td>null</td>
<td>10</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 10)">
<td>JDKVERSION</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>11</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 11)">
<td>WOESTANDARES</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>12</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 12)">
<td>WODOCUMENTACION</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>13</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 13)">
<td>DESCRIPCIONSERVICIO</td>
<td>VARCHAR2(700)</td>
<td>Yes</td>
<td>null</td>
<td>14</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 14)">
<td>LINEAPRODUCTO</td>
<td>VARCHAR2(100)</td>
<td>Yes</td>
<td>null</td>
<td>15</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 15)">
<td>ID_CAMBIO</td>
<td>VARCHAR2(100)</td>
<td>Yes</td>
<td>null</td>
<td>16</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 16)">
<td>TIPO</td>
<td>VARCHAR2(100)</td>
<td>Yes</td>
<td>null</td>
<td>17</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 17)">
<td>DESPLIEGUE</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>18</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 18)">
<td>ESTADO</td>
<td>VARCHAR2(100)</td>
<td>Yes</td>
<td>null</td>
<td>19</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>29/07/22</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>31/07/24</td>
</tr>
<tr>
<td>OWNER</td>
<td>PDB_CRONUS</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>DF_ROADMAP_VU</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>1301</td>
</tr>
<tr>
<td>TEXT</td>
<td>SELECT&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;rm.nombremicroservicio,
&nbsp;&nbsp;&nbsp;&nbsp;DF_NOMBRE_EMPLEADO_FN(e.id)&nbsp;ACTUALIZADO,
&nbsp;&nbsp;&nbsp;&nbsp;ee.estadonombre&nbsp;Estado_Servicio,
&nbsp;&nbsp;&nbsp;&nbsp;pro.nombre&nbsp;proyecto,
&nbsp;&nbsp;&nbsp;&nbsp;rm.codprybrief,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urlproduccion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urlqa,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urldev,
&nbsp;&nbsp;&nbsp;&nbsp;rm.tryscape,
&nbsp;&nbsp;&nbsp;&nbsp;rm.informacion3scala,&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;rm.jdkversion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.woestandares,
&nbsp;&nbsp;&nbsp;&nbsp;rm.wodocumentacion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.descripcionservicio,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;pbi.lineaproducto,
&nbsp;&nbsp;&nbsp;&nbsp;pbi.id_cambio,
&nbsp;&nbsp;&nbsp;&nbsp;rmt.tiporoadmap&nbsp;tipo,
&nbsp;&nbsp;&nbsp;&nbsp;rmd.nombre&nbsp;despliegue,
&nbsp;&nbsp;&nbsp;&nbsp;derm.estadonombre&nbsp;estado
FROM&nbsp;df_road_map&nbsp;rm
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_road_map_tipo&nbsp;rmt&nbsp;on&nbsp;rmt.id&nbsp;=&nbsp;rm.tipo
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;DF_ROADMAP_DESPLIEGUE&nbsp;rmd&nbsp;on&nbsp;rmd.id&nbsp;=&nbsp;rm.despliegue
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_estado_road_map&nbsp;derm&nbsp;on&nbsp;derm.id&nbsp;=&nbsp;rm.estado
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_estado_entrega&nbsp;ee&nbsp;on&nbsp;ee.id&nbsp;=&nbsp;rm.estadomicroservicio
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_empleado&nbsp;e&nbsp;on&nbsp;e.usuarioclaro&nbsp;=&nbsp;rm.actualizadoxusuarioclaro
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_pry_brief_idrlp&nbsp;pbi&nbsp;on&nbsp;pbi.id&nbsp;=&nbsp;rm.codprybrief
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_proyecto&nbsp;pro&nbsp;on&nbsp;pro.id&nbsp;=&nbsp;pbi.codproyecto
GROUP&nbsp;BY&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;e.id,
&nbsp;&nbsp;&nbsp;&nbsp;pbi.lineaproducto,
&nbsp;&nbsp;&nbsp;&nbsp;pbi.id_cambio,
&nbsp;&nbsp;&nbsp;&nbsp;pro.nombre,
&nbsp;&nbsp;&nbsp;&nbsp;derm.estadonombre,
&nbsp;&nbsp;&nbsp;&nbsp;ee.estadonombre,
&nbsp;&nbsp;&nbsp;&nbsp;rmt.tiporoadmap,
&nbsp;&nbsp;&nbsp;&nbsp;rmd.nombre,
&nbsp;&nbsp;&nbsp;&nbsp;rm.codprybrief,
&nbsp;&nbsp;&nbsp;&nbsp;rm.nombremicroservicio,
&nbsp;&nbsp;&nbsp;&nbsp;rm.jdkversion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.woestandares,
&nbsp;&nbsp;&nbsp;&nbsp;rm.wodocumentacion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.descripcionservicio,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urlproduccion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urlqa,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urldev,
&nbsp;&nbsp;&nbsp;&nbsp;rm.tryscape,
&nbsp;&nbsp;&nbsp;&nbsp;rm.informacion3scala</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>SELECT&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;rm.nombremicroservicio,
&nbsp;&nbsp;&nbsp;&nbsp;DF_NOMBRE_EMPLEADO_FN(e.id)&nbsp;ACTUALIZADO,
&nbsp;&nbsp;&nbsp;&nbsp;ee.estadonombre&nbsp;Estado_Servicio,
&nbsp;&nbsp;&nbsp;&nbsp;pro.nombre&nbsp;proyecto,
&nbsp;&nbsp;&nbsp;&nbsp;rm.codprybrief,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urlproduccion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urlqa,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urldev,
&nbsp;&nbsp;&nbsp;&nbsp;rm.tryscape,
&nbsp;&nbsp;&nbsp;&nbsp;rm.informacion3scala,&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;rm.jdkversion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.woestandares,
&nbsp;&nbsp;&nbsp;&nbsp;rm.wodocumentacion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.descripcionservicio,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;pbi.lineaproducto,
&nbsp;&nbsp;&nbsp;&nbsp;pbi.id_cambio,
&nbsp;&nbsp;&nbsp;&nbsp;rmt.tiporoadmap&nbsp;tipo,
&nbsp;&nbsp;&nbsp;&nbsp;rmd.nombre&nbsp;despliegue,
&nbsp;&nbsp;&nbsp;&nbsp;derm.estadonombre&nbsp;estado
FROM&nbsp;df_road_map&nbsp;rm
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_road_map_tipo&nbsp;rmt&nbsp;on&nbsp;rmt.id&nbsp;=&nbsp;rm.tipo
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;DF_ROADMAP_DESPLIEGUE&nbsp;rmd&nbsp;on&nbsp;rmd.id&nbsp;=&nbsp;rm.despliegue
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_estado_road_map&nbsp;derm&nbsp;on&nbsp;derm.id&nbsp;=&nbsp;rm.estado
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_estado_entrega&nbsp;ee&nbsp;on&nbsp;ee.id&nbsp;=&nbsp;rm.estadomicroservicio
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_empleado&nbsp;e&nbsp;on&nbsp;e.usuarioclaro&nbsp;=&nbsp;rm.actualizadoxusuarioclaro
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_pry_brief_idrlp&nbsp;pbi&nbsp;on&nbsp;pbi.id&nbsp;=&nbsp;rm.codprybrief
&nbsp;&nbsp;&nbsp;&nbsp;join&nbsp;df_proyecto&nbsp;pro&nbsp;on&nbsp;pro.id&nbsp;=&nbsp;pbi.codproyecto
GROUP&nbsp;BY&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;e.id,
&nbsp;&nbsp;&nbsp;&nbsp;pbi.lineaproducto,
&nbsp;&nbsp;&nbsp;&nbsp;pbi.id_cambio,
&nbsp;&nbsp;&nbsp;&nbsp;pro.nombre,
&nbsp;&nbsp;&nbsp;&nbsp;derm.estadonombre,
&nbsp;&nbsp;&nbsp;&nbsp;ee.estadonombre,
&nbsp;&nbsp;&nbsp;&nbsp;rmt.tiporoadmap,
&nbsp;&nbsp;&nbsp;&nbsp;rmd.nombre,
&nbsp;&nbsp;&nbsp;&nbsp;rm.codprybrief,
&nbsp;&nbsp;&nbsp;&nbsp;rm.nombremicroservicio,
&nbsp;&nbsp;&nbsp;&nbsp;rm.jdkversion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.woestandares,
&nbsp;&nbsp;&nbsp;&nbsp;rm.wodocumentacion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.descripcionservicio,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urlproduccion,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urlqa,
&nbsp;&nbsp;&nbsp;&nbsp;rm.urldev,
&nbsp;&nbsp;&nbsp;&nbsp;rm.tryscape,
&nbsp;&nbsp;&nbsp;&nbsp;rm.informacion3scala</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>4</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
