<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="DF_RECURSOS_VU/report.js" type="text/javascript"></script>
<link href="DF_RECURSOS_VU/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">DF_RECURSOS_VU</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">RECURSO</td>
<td class="currentcell">VARCHAR2(4000)</td>
<td class="currentcell">Yes</td>
<td class="currentcell">null</td>
<td class="currentcell">1</td>
<td class="currentcell">null</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>CODEMPLEADO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>IDRECURSO</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>PROVEEDOR</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>PERFILTIPO</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>CELULA</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>TIPOPRESUPUESTO</td>
<td>VARCHAR2(5)</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>COSTORECURSOMENSUAL</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>8</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 8)">
<td>COSTOUNIDAD</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>9</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 9)">
<td>UNIDADMES</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>10</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 10)">
<td>TEP</td>
<td>VARCHAR2(16)</td>
<td>Yes</td>
<td>null</td>
<td>11</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 11)">
<td>PROYECTO</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>12</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 12)">
<td>IDPROYECTO</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>13</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 13)">
<td>GERENTE</td>
<td>VARCHAR2(4000)</td>
<td>Yes</td>
<td>null</td>
<td>14</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 14)">
<td>PEP</td>
<td>CHAR()</td>
<td>Yes</td>
<td>null</td>
<td>15</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 15)">
<td>CONPRESUPUESTO</td>
<td>CHAR(2)</td>
<td>Yes</td>
<td>null</td>
<td>16</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 16)">
<td>ADICIONAL</td>
<td>CHAR(2)</td>
<td>Yes</td>
<td>null</td>
<td>17</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 17)">
<td>PORCENTAJEPRY</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>18</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 18)">
<td>HORAS</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>19</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 19)">
<td>UNIDADES</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>20</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 20)">
<td>COSTOUNIDADES</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>21</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 21)">
<td>DIASHRANGO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>22</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 22)">
<td>HORASHRANGO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>23</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 23)">
<td>DIASHMES</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>24</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 24)">
<td>HORASHMES</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>25</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 25)">
<td>UNIDADESMES</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>26</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 26)">
<td>IRANGO</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>27</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 27)">
<td>FRANGO</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>28</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 28)">
<td>MES</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>29</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 29)">
<td>AÑO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>30</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 2, 0)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_RECURSOS_SF_VU</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_RECURSOS_VU</td>
<td class="currentcell">VIEW</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 2, 1)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_FACTURAR_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
<div id="Child.0.0.2">
<div class="currentchildreport"><table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectRow(this, 3)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_RECURSOS_VU</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_NOMBRE_EMPLEADO_FN</td>
<td class="currentcell">FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>TFS_DIAS_LABORABLES</td>
<td>FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO_VU</td>
<td>VIEW</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_EMPLEADOCONTROL</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_DETALLES_NOVEDAD</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_NOVEDAD</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_PRESUPUESTO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_PROYECTO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_RANGO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TAKE_DESCRIPTION_FN</td>
<td>FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TAREA</td>
<td>TABLE</td>
</tr>
</table>
</div>
</div>
<div id="Child.0.1.2">
<div class="childreport"><table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectRow(this, 4)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_RECURSOS_VU</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_NOMBRE_EMPLEADO_FN</td>
<td class="currentcell">FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>TFS_DIAS_LABORABLES</td>
<td>FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO_VU</td>
<td>VIEW</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_EMPLEADOCONTROL</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_DETALLES_NOVEDAD</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_NOVEDAD</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_PRESUPUESTO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_PROYECTO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_RANGO</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TAKE_DESCRIPTION_FN</td>
<td>FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_RECURSOS_VU</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TAREA</td>
<td>TABLE</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>23/07/24</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>04/06/25</td>
</tr>
<tr>
<td>OWNER</td>
<td>PDB_CRONUS</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>DF_RECURSOS_VU</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>7388</td>
</tr>
<tr>
<td>TEXT</td>
<td>(
&nbsp;&nbsp;&nbsp;&nbsp;SELECT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;asignado_tarea&nbsp;recurso,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CODEMPLEADO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;numerodocumento&nbsp;idrecurso,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;proveedor,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('df_perfiltipo',codperfiltipo)&nbsp;perfiltipo,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;celula,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;modalidad&nbsp;tipopresupuesto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;costo_mes&nbsp;costorecursomensual,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;costo_punto&nbsp;costounidad,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND(puntos_mes,2)&nbsp;unidadmes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LPAD(NVL(celulafija,'V'),4,0)&nbsp;tep,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;proyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;idproyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(codempleadogerente)&nbsp;gerente,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;''&nbsp;pep,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(CASE&nbsp;SIGN(NVL(saldo_cop,0))&nbsp;WHEN&nbsp;1&nbsp;THEN&nbsp;'SI'&nbsp;ELSE&nbsp;'NO'&nbsp;END)&nbsp;conpresupuesto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'NO'&nbsp;adicional,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND((&nbsp;SUM(horas)&nbsp;/&nbsp;SUM(SUM(horas))&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;codempleado)),2)&nbsp;porcentajepry,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUM(horas)&nbsp;horas,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND((&nbsp;SUM(horas)&nbsp;*&nbsp;factor_punto&nbsp;)&nbsp;,2)&nbsp;&nbsp;unidades,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND((&nbsp;SUM(horas)&nbsp;*&nbsp;factor_punto&nbsp;*&nbsp;costo_punto&nbsp;)&nbsp;,2)&nbsp;&nbsp;costounidades,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tfs_dias_laborables(TO_DATE(final),&nbsp;TO_DATE(inicio))&nbsp;diashrango,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tfs_dias_laborables(TO_DATE(final),&nbsp;TO_DATE(inicio))&nbsp;*&nbsp;9&nbsp;horashrango,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tfs_dias_laborables(TRUNC(TO_DATE(fechahorainicio),&nbsp;'MM'),&nbsp;LAST_DAY(TO_DATE(fechahorainicio)))&nbsp;diashmes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tfs_dias_laborables(TRUNC(TO_DATE(fechahorainicio),&nbsp;'MM'),&nbsp;LAST_DAY(TO_DATE(fechahorainicio)))&nbsp;*&nbsp;9&nbsp;horashmes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND(tfs_dias_laborables(TO_DATE(inicio),&nbsp;TO_DATE(final))&nbsp;*&nbsp;9&nbsp;*&nbsp;factor_punto)&nbsp;unidadesmes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inicio&nbsp;irango,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;final&nbsp;frango,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXTRACT(MONTH&nbsp;FROM&nbsp;fechahorainicio)&nbsp;mes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXTRACT(YEAR&nbsp;FROM&nbsp;fechahorainicio)&nbsp;año
&nbsp;&nbsp;&nbsp;&nbsp;FROM
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SELECT&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;COUNT(CASE&nbsp;WHEN&nbsp;py.id&nbsp;&lt;>&nbsp;22&nbsp;THEN&nbsp;1&nbsp;END&nbsp;)&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;e.codempleado)&nbsp;>&nbsp;0&nbsp;THEN&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.horas+SUM(CASE&nbsp;WHEN&nbsp;py.id&nbsp;=&nbsp;22&nbsp;THEN&nbsp;ec.horas&nbsp;ELSE&nbsp;0&nbsp;END)&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;e.codempleado)/COUNT(CASE&nbsp;WHEN&nbsp;py.id&nbsp;&lt;>&nbsp;22&nbsp;THEN&nbsp;1&nbsp;END&nbsp;)&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;e.codempleado)&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE&nbsp;ec.horas&nbsp;END&nbsp;HORAS,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.id&nbsp;codproyecto,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.codigoproyecto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;idproyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.codempleadogerente,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.elemento_pep,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.saldo_cop,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRIM(regexp_replace(regexp_replace(translate(upper(py.nombre),&nbsp;'ÁÉÍÓÚáéíóúñü',&nbsp;'AEIOUaeiounu'),&nbsp;'[^A-Z0-9\&nbsp;\-]+',&nbsp;''),&nbsp;'[\&nbsp;]+',&nbsp;'&nbsp;'))&nbsp;proyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.modalidad,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.costo_mes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.costo_punto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.puntos_mes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.celula&nbsp;celulafija,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.nombre&nbsp;ASIGNADO_tarea,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.factor_punto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.numerodocumento,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.codempleado,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.estructuraorganizacional&nbsp;&nbsp;&nbsp;celula,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.proveedor,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.codperfiltipo,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.id&nbsp;codcontrol,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.fechahorainicio,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.fini&nbsp;inicio,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.ffin&nbsp;final
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_empleado_vu&nbsp;&nbsp;e
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEFT&nbsp;OUTER&nbsp;JOIN&nbsp;df_empleadocontrol&nbsp;&nbsp;&nbsp;&nbsp;ec&nbsp;ON&nbsp;ec.codempleado&nbsp;=&nbsp;e.codempleado&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_tarea&nbsp;&nbsp;t&nbsp;ON&nbsp;t.id&nbsp;=&nbsp;ec.codtarea
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_proyecto&nbsp;py&nbsp;ON&nbsp;py.id&nbsp;=&nbsp;t.codproyecto
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_presupuesto&nbsp;ps&nbsp;ON&nbsp;ps.id&nbsp;=&nbsp;py.codpresupuesto
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_rango&nbsp;ra&nbsp;ON&nbsp;1=1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.codtipoestructura&nbsp;&lt;>&nbsp;4&nbsp;AND
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.estado&nbsp;=&nbsp;'A'&nbsp;AND
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(to_date(ec.fechahorainicio,&nbsp;'DD/MM/YYYY')&nbsp;BETWEEN&nbsp;to_date(ra.fini,&nbsp;'DD/MM/YYYY')&nbsp;and&nbsp;to_date(ra.ffin,&nbsp;'DD/MM/YYYY')
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to_date(ec.fechahorafin,&nbsp;'DD/MM/YYYY')&nbsp;BETWEEN&nbsp;to_date(ra.fini,&nbsp;'DD/MM/YYYY')&nbsp;and&nbsp;to_date(ra.ffin,&nbsp;'DD/MM/YYYY'))
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;substr(e.jerarquia,&nbsp;0,&nbsp;20)&nbsp;=&nbsp;lpad(ra.ger,&nbsp;10,&nbsp;0)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;lpad(ra.coord,&nbsp;10,&nbsp;0)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GROUP&nbsp;BY&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.id,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.codigoproyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.nombre,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.codempleadogerente,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.elemento_pep,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.saldo_cop,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.ffin,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.fini,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.id,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.horas,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.fechahorainicio,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.modalidad,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.costo_mes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.costo_punto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.celula,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.proveedor,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.numerodocumento,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.nombre,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.valormes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.codempleado,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.codperfiltipo,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.modalidad,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.estructuraorganizacional,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.factor_punto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.puntos_mes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.celula
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
&nbsp;&nbsp;&nbsp;&nbsp;WHERE&nbsp;&nbsp;codproyecto&nbsp;&lt;>&nbsp;22
&nbsp;&nbsp;&nbsp;&nbsp;GROUP&nbsp;BY&nbsp;TRUNC(TO_DATE(FECHAHORAINICIO),&nbsp;'MM'),&nbsp;LAST_DAY(TO_DATE(FECHAHORAINICIO)),&nbsp;EXTRACT(YEAR&nbsp;FROM&nbsp;FECHAHORAINICIO),&nbsp;EXTRACT(MONTH&nbsp;FROM&nbsp;FECHAHORAINICIO),IDPROYECTO,&nbsp;CODEMPLEADOGERENTE,&nbsp;ELEMENTO_PEP,&nbsp;SALDO_COP,&nbsp;PROYECTO,&nbsp;MODALIDAD,&nbsp;COSTO_MES,&nbsp;COSTO_PUNTO,&nbsp;PUNTOS_MES,&nbsp;CELULAFIJA,&nbsp;ASIGNADO_TAREA,&nbsp;FACTOR_PUNTO,&nbsp;CODEMPLEADO,numerodocumento,&nbsp;CELULA,&nbsp;PROVEEDOR,&nbsp;CODPERFILTIPO,&nbsp;INICIO,&nbsp;FINAL
)UNION&nbsp;ALL(
SELECT&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;E.NOMBRE&nbsp;RECURSO
&nbsp;&nbsp;&nbsp;&nbsp;,E.CODEMPLEADO
&nbsp;&nbsp;&nbsp;&nbsp;,E.NUMERODOCUMENTO&nbsp;IDRECURSO
&nbsp;&nbsp;&nbsp;&nbsp;,E.PROVEEDOR
&nbsp;&nbsp;&nbsp;&nbsp;,E.PERFILTIPO
&nbsp;&nbsp;&nbsp;&nbsp;,E.ESTRUCTURAORGANIZACIONAL&nbsp;CELULA
&nbsp;&nbsp;&nbsp;&nbsp;,E.MODALIDAD&nbsp;TIPOPRESUPUESTO
&nbsp;&nbsp;&nbsp;&nbsp;,E.COSTO_MES&nbsp;COSTORECURSOMENSUAL
&nbsp;&nbsp;&nbsp;&nbsp;,E.COSTO_PUNTO&nbsp;COSTOUNIDAD
&nbsp;&nbsp;&nbsp;&nbsp;,E.PUNTOS_MES&nbsp;UNIDADMES
&nbsp;&nbsp;&nbsp;&nbsp;,'000E'&nbsp;TEP
&nbsp;&nbsp;&nbsp;&nbsp;,P.NOMBRE&nbsp;PROYECTO
&nbsp;&nbsp;&nbsp;&nbsp;,P.CODIGOPROYECTO&nbsp;IDPROYECTO
&nbsp;&nbsp;&nbsp;&nbsp;,EG.NOMBRE&nbsp;GERENTE
&nbsp;&nbsp;&nbsp;&nbsp;,''&nbsp;PEP
&nbsp;&nbsp;&nbsp;&nbsp;,(CASE&nbsp;SIGN(NVL(PR.SALDO_COP,0))&nbsp;WHEN&nbsp;1&nbsp;THEN&nbsp;'SI'&nbsp;ELSE&nbsp;'NO'&nbsp;END)&nbsp;CONPRESUPUESTO&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,'SI'&nbsp;ADICIONAL
&nbsp;&nbsp;&nbsp;&nbsp;,1&nbsp;PORCENTAJEPRY
&nbsp;&nbsp;&nbsp;&nbsp;,(SUM(TOTAL_HORAS_NETO))*E.FACTOR_PUNTO&nbsp;HORAS
&nbsp;&nbsp;&nbsp;&nbsp;,(SUM(TOTAL_HORAS_NETO))*E.FACTOR_PUNTO&nbsp;UNIDADES
&nbsp;&nbsp;&nbsp;&nbsp;,((SUM(TOTAL_HORAS_NETO))*E.FACTOR_PUNTO)*E.VALOR&nbsp;COSTOUNIDADES
&nbsp;&nbsp;&nbsp;&nbsp;,TFS_DIAS_LABORABLES(R.FINI,R.FFIN)&nbsp;DIASHRANGO
&nbsp;&nbsp;&nbsp;&nbsp;,TFS_DIAS_LABORABLES(R.FINI,R.FFIN)*9&nbsp;HORASHRANGO
&nbsp;&nbsp;&nbsp;&nbsp;,TFS_DIAS_LABORABLES(TRUNC(TO_DATE(R.FFIN),'MM'),LAST_DAY(TO_DATE(R.FFIN)))&nbsp;DIASHMES
&nbsp;&nbsp;&nbsp;&nbsp;,TFS_DIAS_LABORABLES(TRUNC(TO_DATE(R.FFIN),'MM'),LAST_DAY(TO_DATE(R.FFIN)))*9&nbsp;HORASHMES
&nbsp;&nbsp;&nbsp;&nbsp;,ROUND((TFS_DIAS_LABORABLES(TRUNC(TO_DATE(R.FFIN),'MM'),LAST_DAY(TO_DATE(R.FFIN)))*9)*E.FACTOR_PUNTO)&nbsp;UNIDADESMES
&nbsp;&nbsp;&nbsp;&nbsp;,R.FINI&nbsp;IRANGO
&nbsp;&nbsp;&nbsp;&nbsp;,R.FFIN&nbsp;FRANGO
&nbsp;&nbsp;&nbsp;&nbsp;,EXTRACT(MONTH&nbsp;FROM&nbsp;FIN_NOVEDAD)&nbsp;MES
&nbsp;&nbsp;&nbsp;&nbsp;,EXTRACT(YEAR&nbsp;FROM&nbsp;FIN_NOVEDAD)AÑO
FROM&nbsp;&nbsp;DF_NOVEDAD&nbsp;N
&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_DETALLES_NOVEDAD&nbsp;D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON&nbsp;D.ID_NOVEDAD&nbsp;=&nbsp;N.ID&nbsp;AND&nbsp;D.Estado&nbsp;&lt;>&nbsp;9
&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_EMPLEADO_VU&nbsp;E
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON&nbsp;E.CODEMPLEADO&nbsp;=&nbsp;N.IDEMPLEADO
&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_PROYECTO&nbsp;P
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON&nbsp;P.ID&nbsp;=&nbsp;N.IDPROYECTO
&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_PRESUPUESTO&nbsp;PR
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_EMPLEADO_VU&nbsp;EG&nbsp;ON&nbsp;EG.CODEMPLEADO&nbsp;=&nbsp;PR.CODEMPLEADOGERENTE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON&nbsp;PR.ID&nbsp;=&nbsp;P.CODPRESUPUESTO
&nbsp;&nbsp;&nbsp;JOIN&nbsp;DF_RANGO&nbsp;r&nbsp;ON&nbsp;1=1
WHERE&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;N.TIPO_NOVEDAD&nbsp;=&nbsp;23
&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;N.ESTADO&nbsp;&lt;>&nbsp;9
&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;SUBSTR(E.JERARQUIA,&nbsp;0,&nbsp;20)&nbsp;=&nbsp;LPAD(r.GER,10,0)||LPAD(r.COORD,10,0)
&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;INI_NOVEDAD&nbsp;BETWEEN&nbsp;R.FINI&nbsp;AND&nbsp;R.FFIN
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;FIN_NOVEDAD&nbsp;BETWEEN&nbsp;R.FINI&nbsp;AND&nbsp;R.FFIN
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
GROUP&nbsp;BY
&nbsp;&nbsp;&nbsp;&nbsp;E.NOMBRE&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,E.CODEMPLEADO
&nbsp;&nbsp;&nbsp;&nbsp;,E.NUMERODOCUMENTO&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,E.PROVEEDOR
&nbsp;&nbsp;&nbsp;&nbsp;,E.PERFILTIPO
&nbsp;&nbsp;&nbsp;&nbsp;,E.ESTRUCTURAORGANIZACIONAL&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,E.MODALIDAD&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,E.COSTO_MES&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,E.COSTO_PUNTO&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,E.PUNTOS_MES&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,'000E'&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,P.NOMBRE&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,P.CODIGOPROYECTO&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,EG.NOMBRE&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,PR.ELEMENTO_PEP&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,(CASE&nbsp;SIGN(NVL(PR.SALDO_COP,0))&nbsp;WHEN&nbsp;1&nbsp;THEN&nbsp;'SI'&nbsp;ELSE&nbsp;'NO'&nbsp;END)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,'SI'&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,1&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,TFS_DIAS_LABORABLES(R.FINI,R.FFIN)&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,TFS_DIAS_LABORABLES(R.FINI,R.FFIN)*9&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,TFS_DIAS_LABORABLES(TRUNC(TO_DATE(R.FFIN),'MM'),LAST_DAY(TO_DATE(R.FFIN)))&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,TFS_DIAS_LABORABLES(TRUNC(TO_DATE(R.FFIN),'MM'),LAST_DAY(TO_DATE(R.FFIN)))*9&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,ROUND((TFS_DIAS_LABORABLES(TRUNC(TO_DATE(R.FFIN),'MM'),LAST_DAY(TO_DATE(R.FFIN)))*9)*E.FACTOR_PUNTO)&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,R.FINI&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,R.FFIN&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,EXTRACT(MONTH&nbsp;FROM&nbsp;FIN_NOVEDAD)&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;,EXTRACT(YEAR&nbsp;FROM&nbsp;FIN_NOVEDAD)
&nbsp;&nbsp;&nbsp;&nbsp;,E.FACTOR_PUNTO
)</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>(
&nbsp;&nbsp;&nbsp;&nbsp;SELECT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;asignado_tarea&nbsp;recurso,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CODEMPLEADO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;numerodocumento&nbsp;idrecurso,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;proveedor,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_take_description_fn('df_perfiltipo',codperfiltipo)&nbsp;perfiltipo,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;celula,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;modalidad&nbsp;tipopresupuesto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;costo_mes&nbsp;costorecursomensual,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;costo_punto&nbsp;costounidad,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND(puntos_mes,2)&nbsp;unidadmes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LPAD(NVL(celulafija,'V'),4,0)&nbsp;tep,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;proyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;idproyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_nombre_empleado_fn(codempleadogerente)&nbsp;gerente,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;''&nbsp;pep,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(CASE&nbsp;SIGN(NVL(saldo_cop,0))&nbsp;WHEN&nbsp;1&nbsp;THEN&nbsp;'SI'&nbsp;ELSE&nbsp;'NO'&nbsp;END)&nbsp;conpresupuesto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'NO'&nbsp;adicional,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND((&nbsp;SUM(horas)&nbsp;/&nbsp;SUM(SUM(horas))&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;codempleado)),2)&nbsp;porcentajepry,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUM(horas)&nbsp;horas,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND((&nbsp;SUM(horas)&nbsp;*&nbsp;factor_punto&nbsp;)&nbsp;,2)&nbsp;&nbsp;unidades,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND((&nbsp;SUM(horas)&nbsp;*&nbsp;factor_punto&nbsp;*&nbsp;costo_punto&nbsp;)&nbsp;,2)&nbsp;&nbsp;costounidades,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tfs_dias_laborables(TO_DATE(final),&nbsp;TO_DATE(inicio))&nbsp;diashrango,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tfs_dias_laborables(TO_DATE(final),&nbsp;TO_DATE(inicio))&nbsp;*&nbsp;9&nbsp;horashrango,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tfs_dias_laborables(TRUNC(TO_DATE(fechahorainicio),&nbsp;'MM'),&nbsp;LAST_DAY(TO_DATE(fechahorainicio)))&nbsp;diashmes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tfs_dias_laborables(TRUNC(TO_DATE(fechahorainicio),&nbsp;'MM'),&nbsp;LAST_DAY(TO_DATE(fechahorainicio)))&nbsp;*&nbsp;9&nbsp;horashmes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROUND(tfs_dias_laborables(TO_DATE(inicio),&nbsp;TO_DATE(final))&nbsp;*&nbsp;9&nbsp;*&nbsp;factor_punto)&nbsp;unidadesmes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inicio&nbsp;irango,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;final&nbsp;frango,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXTRACT(MONTH&nbsp;FROM&nbsp;fechahorainicio)&nbsp;mes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXTRACT(YEAR&nbsp;FROM&nbsp;fechahorainicio)&nbsp;año
&nbsp;&nbsp;&nbsp;&nbsp;FROM
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SELECT&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;WHEN&nbsp;COUNT(CASE&nbsp;WHEN&nbsp;py.id&nbsp;&lt;>&nbsp;22&nbsp;THEN&nbsp;1&nbsp;END&nbsp;)&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;e.codempleado)&nbsp;>&nbsp;0&nbsp;THEN&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.horas+SUM(CASE&nbsp;WHEN&nbsp;py.id&nbsp;=&nbsp;22&nbsp;THEN&nbsp;ec.horas&nbsp;ELSE&nbsp;0&nbsp;END)&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;e.codempleado)/COUNT(CASE&nbsp;WHEN&nbsp;py.id&nbsp;&lt;>&nbsp;22&nbsp;THEN&nbsp;1&nbsp;END&nbsp;)&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;e.codempleado)&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE&nbsp;ec.horas&nbsp;END&nbsp;HORAS,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.id&nbsp;codproyecto,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.codigoproyecto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;idproyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.codempleadogerente,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.elemento_pep,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.saldo_cop,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRIM(regexp_replace(regexp_replace(translate(upper(py.nombre),&nbsp;'ÁÉÍÓÚáéíóúñü',&nbsp;'AEIOUaeiounu'),&nbsp;'[^A-Z0-9\&nbsp;\-]+',&nbsp;''),&nbsp;'[\&nbsp;]+',&nbsp;'&nbsp;'))&nbsp;proyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.modalidad,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.costo_mes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.costo_punto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.puntos_mes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.celula&nbsp;celulafija,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.nombre&nbsp;ASIGNADO_tarea,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.factor_punto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.numerodocumento,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.codempleado,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.estructuraorganizacional&nbsp;&nbsp;&nbsp;celula,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.proveedor,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.codperfiltipo,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.id&nbsp;codcontrol,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.fechahorainicio,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.fini&nbsp;inicio,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.ffin&nbsp;final
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df_empleado_vu&nbsp;&nbsp;e
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEFT&nbsp;OUTER&nbsp;JOIN&nbsp;df_empleadocontrol&nbsp;&nbsp;&nbsp;&nbsp;ec&nbsp;ON&nbsp;ec.codempleado&nbsp;=&nbsp;e.codempleado&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_tarea&nbsp;&nbsp;t&nbsp;ON&nbsp;t.id&nbsp;=&nbsp;ec.codtarea
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_proyecto&nbsp;py&nbsp;ON&nbsp;py.id&nbsp;=&nbsp;t.codproyecto
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_presupuesto&nbsp;ps&nbsp;ON&nbsp;ps.id&nbsp;=&nbsp;py.codpresupuesto
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOIN&nbsp;df_rango&nbsp;ra&nbsp;ON&nbsp;1=1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.codtipoestructura&nbsp;&lt;>&nbsp;4&nbsp;AND
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.estado&nbsp;=&nbsp;'A'&nbsp;AND
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(to_date(ec.fechahorainicio,&nbsp;'DD/MM/YYYY')&nbsp;BETWEEN&nbsp;to_date(ra.fini,&nbsp;'DD/MM/YYYY')&nbsp;and&nbsp;to_date(ra.ffin,&nbsp;'DD/MM/YYYY')
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to_date(ec.fechahorafin,&nbsp;'DD/MM/YYYY')&nbsp;BETWEEN&nbsp;to_date(ra.fini,&nbsp;'DD/MM/YYYY')&nbsp;and&nbsp;to_date(ra.ffin,&nbsp;'DD/MM/YYYY'))
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND&nbsp;substr(e.jerarquia,&nbsp;0,&nbsp;20)&nbsp;=&nbsp;lpad(ra.ger,&nbsp;10,&nbsp;0)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;lpad(ra.coord,&nbsp;10,&nbsp;0)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GROUP&nbsp;BY&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.id,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.codigoproyecto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;py.nombre,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.codempleadogerente,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.elemento_pep,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps.saldo_cop,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.ffin,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ra.fini,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.id,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.horas,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ec.fechahorainicio,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.modalidad,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.costo_mes,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.costo_punto,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.celula,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.proveedor,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.numerodocumento,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.nombre,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>4</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.6" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.7" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
