<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="DF_TASKVALUESTREAM_FIELDS_V/report.js" type="text/javascript"></script>
<link href="DF_TASKVALUESTREAM_FIELDS_V/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">DF_TASKVALUESTREAM_FIELDS_V</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">ID</td>
<td class="currentcell">UNDEFINED()</td>
<td class="currentcell">Yes</td>
<td class="currentcell">null</td>
<td class="currentcell">1</td>
<td class="currentcell">null</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>TITLE</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>ASSIGNEDTO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>ESTADO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>DESCRIPCION</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>PRIORIDAD</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>ACTIVIDAD</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>TAREAS_ESTANDAR</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>8</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 8)">
<td>AREA_CONOCIMIENTO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>9</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 9)">
<td>EMPRESA</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>10</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 10)">
<td>ROL</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>11</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 11)">
<td>LINEAPRODUCTO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>12</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 12)">
<td>ESPECIALIDAD</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>13</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 13)">
<td>HORASDEDICADAS</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>14</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 14)">
<td>FECHAINICIO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>15</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 15)">
<td>FECHAFIN</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>16</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 16)">
<td>NOMBREEMPLEADO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>17</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 17)">
<td>CODEMPLEADO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>18</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 18)">
<td>TOKENAZURE</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>19</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 19)">
<td>IDPBI</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>20</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 20)">
<td>NAMECOORDINACION</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>21</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 21)">
<td>CODPROYECTO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>22</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 22)">
<td>COD_COORDINACION</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>23</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 23)">
<td>CODCELL</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>24</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 24)">
<td>NAMECELL</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>25</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 25)">
<td>ID_AZURE</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>26</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 2, 0)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_REPFALLO_TASKVALUSTREAM_V</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_TASKVALUESTREAM_FIELDS_V</td>
<td class="currentcell">VIEW</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 2, 1)">
<td>PDB_CRONUS</td>
<td>DF_REP_TASKVALUESTREAM</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
<div id="Child.0.0.2">
<div class="currentchildreport"><table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectRow(this, 3)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_TASKVALUESTREAM_FIELDS_V</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_NOMBRE_EMPLEADO_FN</td>
<td class="currentcell">FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TAREAS_VIGENTES_V</td>
<td>VIEW</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>TFS_DIAS_LABORABLES</td>
<td>FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO_VU</td>
<td>VIEW</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_AUDIT_TASKVALUESTREAM</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 3)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TAKE_DESCRIPTION_FN</td>
<td>FUNCTION</td>
</tr>
</table>
</div>
</div>
<div id="Child.0.1.2">
<div class="childreport"><table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
<tr onclick="table_onSelectRow(this, 4)" class="currentrow">
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_TASKVALUESTREAM_FIELDS_V</td>
<td class="currentcell">VIEW</td>
<td class="currentcell">PDB_CRONUS</td>
<td class="currentcell">DF_NOMBRE_EMPLEADO_FN</td>
<td class="currentcell">FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TAREAS_VIGENTES_V</td>
<td>VIEW</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>TFS_DIAS_LABORABLES</td>
<td>FUNCTION</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_EMPLEADO_VU</td>
<td>VIEW</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_AUDIT_TASKVALUESTREAM</td>
<td>TABLE</td>
</tr>
<tr onclick="table_onSelectRow(this, 4)">
<td>PDB_CRONUS</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
<td>VIEW</td>
<td>PDB_CRONUS</td>
<td>DF_TAKE_DESCRIPTION_FN</td>
<td>FUNCTION</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>23/07/24</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>09/05/25</td>
</tr>
<tr>
<td>OWNER</td>
<td>PDB_CRONUS</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>DF_TASKVALUESTREAM_FIELDS_V</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>1931</td>
</tr>
<tr>
<td>TEXT</td>
<td>SELECT
&nbsp;&nbsp;&nbsp;&nbsp;TO_CHAR(t.fechainireal,'YYMMDD')||TO_CHAR(t.fechafinreal,'DD')||LPAD(t.codproyecto,8,0)||LPAD(t.codempleado,8,0)||LPAD(t.codtarea,8,0)&nbsp;ID,
&nbsp;&nbsp;&nbsp;&nbsp;TRIM(t.tareapadre)&nbsp;TITLE,
&nbsp;&nbsp;&nbsp;&nbsp;e.correo&nbsp;AssignedTo,
&nbsp;&nbsp;&nbsp;&nbsp;au.state&nbsp;estado,
&nbsp;&nbsp;&nbsp;--&nbsp;val.NAME&nbsp;Area,
&nbsp;&nbsp;&nbsp;--&nbsp;'New&nbsp;Task'&nbsp;Reason,
&nbsp;&nbsp;&nbsp;--&nbsp;val.NAME&nbsp;Iteration,
&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;&nbsp;WHEN&nbsp;t.descripcion&nbsp;IS&nbsp;NULL&nbsp;THEN&nbsp;'&nbsp;'&nbsp;ELSE&nbsp;&nbsp;t.descripcion&nbsp;END&nbsp;AS&nbsp;descripcion,
&nbsp;&nbsp;&nbsp;&nbsp;'2'&nbsp;Prioridad,
&nbsp;&nbsp;&nbsp;&nbsp;'Development'&nbsp;Actividad,
&nbsp;&nbsp;&nbsp;&nbsp;'Desarrollo&nbsp;y&nbsp;pruebas&nbsp;unitarias'&nbsp;Tareas_Estandar,
&nbsp;&nbsp;&nbsp;&nbsp;'AC&nbsp;IT&nbsp;-&nbsp;Desarrollo&nbsp;y&nbsp;Operaciones'&nbsp;Area_Conocimiento,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--CASE&nbsp;WHEN&nbsp;t.fechainiestimada&nbsp;IS&nbsp;NULL&nbsp;THEN&nbsp;&nbsp;TRUNC(SYSDATE,&nbsp;'MM')&nbsp;ELSE&nbsp;t.fechainiestimada&nbsp;END&nbsp;AS&nbsp;fechainicio,
&nbsp;&nbsp;&nbsp;&nbsp;--CASE&nbsp;WHEN&nbsp;t.fechafinestimada&nbsp;IS&nbsp;NULL&nbsp;THEN&nbsp;&nbsp;LAST_DAY(SYSDATE)&nbsp;&nbsp;ELSE&nbsp;t.fechafinestimada&nbsp;END&nbsp;AS&nbsp;fechafin,
&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;&nbsp;WHEN&nbsp;UPPER(e.proveedor)&nbsp;=&nbsp;&nbsp;'CLARO'&nbsp;OR&nbsp;UPPER(e.proveedor)&nbsp;=&nbsp;&nbsp;'HITSS'&nbsp;&nbsp;THEN&nbsp;UPPER(e.proveedor)&nbsp;ELSE&nbsp;'OTRO'&nbsp;END&nbsp;empresa,
&nbsp;&nbsp;&nbsp;&nbsp;'Desarrollador'&nbsp;Rol,
&nbsp;&nbsp;&nbsp;&nbsp;case&nbsp;WHEN&nbsp;&nbsp;UPPER(e.PERFILTIPO)&nbsp;=&nbsp;UPPER('Microservicios')&nbsp;&nbsp;THEN&nbsp;UPPER('Microservicios')&nbsp;ELSE&nbsp;'BUS&nbsp;EMPRESARIAL'&nbsp;END&nbsp;LineaProducto,
&nbsp;&nbsp;&nbsp;&nbsp;case&nbsp;WHEN&nbsp;&nbsp;UPPER(e.PERFILTIPO)&nbsp;=&nbsp;UPPER('Microservicios')&nbsp;&nbsp;THEN&nbsp;UPPER('OPENSHIFT')&nbsp;ELSE&nbsp;'JAVA'&nbsp;END&nbsp;AS&nbsp;Especialidad,
&nbsp;&nbsp;&nbsp;&nbsp;t.horas&nbsp;horasDedicadas,
&nbsp;&nbsp;&nbsp;&nbsp;t.fechainireal&nbsp;AS&nbsp;fechaInicio,
&nbsp;&nbsp;&nbsp;&nbsp;t.fechafinreal&nbsp;AS&nbsp;fechaFin,
&nbsp;&nbsp;&nbsp;&nbsp;t.ASIGNADO_TAREA&nbsp;nombreEmpleado,
&nbsp;&nbsp;&nbsp;&nbsp;t.CODEMPLEADO&nbsp;as&nbsp;codEmpleado,
&nbsp;&nbsp;&nbsp;&nbsp;e.TOKENAZURE&nbsp;as&nbsp;tokenAzure,
&nbsp;&nbsp;&nbsp;&nbsp;au.pbi_id&nbsp;as&nbsp;idPbi,
&nbsp;&nbsp;&nbsp;&nbsp;e.cor&nbsp;AS&nbsp;nameCoordinacion,
&nbsp;&nbsp;&nbsp;&nbsp;t.CODPROYECTO&nbsp;as&nbsp;codProyecto,
&nbsp;&nbsp;&nbsp;&nbsp;e.codcor&nbsp;cod_coordinacion,
&nbsp;&nbsp;&nbsp;&nbsp;t.CODESTRUCTURAORGANIZACIONAL&nbsp;AS&nbsp;codcell,
&nbsp;&nbsp;&nbsp;&nbsp;t.CELULA&nbsp;AS&nbsp;nameCell,
&nbsp;&nbsp;&nbsp;&nbsp;au.id_azure&nbsp;AS&nbsp;ID_AZURE
FROM
&nbsp;&nbsp;&nbsp;&nbsp;DF_TAREAS_VIGENTES_V&nbsp;t
&nbsp;&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_EMPLEADO_VU&nbsp;e&nbsp;ON&nbsp;t.codempleado&nbsp;=&nbsp;e.codempleado
&nbsp;&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_AUDIT_TASKVALUESTREAM&nbsp;au&nbsp;ON&nbsp;au.ID&nbsp;=&nbsp;TO_CHAR(t.fechainireal,'YYMMDD')||TO_CHAR(t.fechafinreal,'DD')||LPAD(t.codproyecto,8,0)||LPAD(t.codempleado,8,0)||LPAD(t.codtarea,8,0)
WHERE
&nbsp;&nbsp;&nbsp;&nbsp;t.codproyecto&nbsp;&lt;>&nbsp;22&nbsp;AND&nbsp;t.codtarea&nbsp;is&nbsp;not&nbsp;null</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>SELECT
&nbsp;&nbsp;&nbsp;&nbsp;TO_CHAR(t.fechainireal,'YYMMDD')||TO_CHAR(t.fechafinreal,'DD')||LPAD(t.codproyecto,8,0)||LPAD(t.codempleado,8,0)||LPAD(t.codtarea,8,0)&nbsp;ID,
&nbsp;&nbsp;&nbsp;&nbsp;TRIM(t.tareapadre)&nbsp;TITLE,
&nbsp;&nbsp;&nbsp;&nbsp;e.correo&nbsp;AssignedTo,
&nbsp;&nbsp;&nbsp;&nbsp;au.state&nbsp;estado,
&nbsp;&nbsp;&nbsp;--&nbsp;val.NAME&nbsp;Area,
&nbsp;&nbsp;&nbsp;--&nbsp;'New&nbsp;Task'&nbsp;Reason,
&nbsp;&nbsp;&nbsp;--&nbsp;val.NAME&nbsp;Iteration,
&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;&nbsp;WHEN&nbsp;t.descripcion&nbsp;IS&nbsp;NULL&nbsp;THEN&nbsp;'&nbsp;'&nbsp;ELSE&nbsp;&nbsp;t.descripcion&nbsp;END&nbsp;AS&nbsp;descripcion,
&nbsp;&nbsp;&nbsp;&nbsp;'2'&nbsp;Prioridad,
&nbsp;&nbsp;&nbsp;&nbsp;'Development'&nbsp;Actividad,
&nbsp;&nbsp;&nbsp;&nbsp;'Desarrollo&nbsp;y&nbsp;pruebas&nbsp;unitarias'&nbsp;Tareas_Estandar,
&nbsp;&nbsp;&nbsp;&nbsp;'AC&nbsp;IT&nbsp;-&nbsp;Desarrollo&nbsp;y&nbsp;Operaciones'&nbsp;Area_Conocimiento,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--CASE&nbsp;WHEN&nbsp;t.fechainiestimada&nbsp;IS&nbsp;NULL&nbsp;THEN&nbsp;&nbsp;TRUNC(SYSDATE,&nbsp;'MM')&nbsp;ELSE&nbsp;t.fechainiestimada&nbsp;END&nbsp;AS&nbsp;fechainicio,
&nbsp;&nbsp;&nbsp;&nbsp;--CASE&nbsp;WHEN&nbsp;t.fechafinestimada&nbsp;IS&nbsp;NULL&nbsp;THEN&nbsp;&nbsp;LAST_DAY(SYSDATE)&nbsp;&nbsp;ELSE&nbsp;t.fechafinestimada&nbsp;END&nbsp;AS&nbsp;fechafin,
&nbsp;&nbsp;&nbsp;&nbsp;CASE&nbsp;&nbsp;WHEN&nbsp;UPPER(e.proveedor)&nbsp;=&nbsp;&nbsp;'CLARO'&nbsp;OR&nbsp;UPPER(e.proveedor)&nbsp;=&nbsp;&nbsp;'HITSS'&nbsp;&nbsp;THEN&nbsp;UPPER(e.proveedor)&nbsp;ELSE&nbsp;'OTRO'&nbsp;END&nbsp;empresa,
&nbsp;&nbsp;&nbsp;&nbsp;'Desarrollador'&nbsp;Rol,
&nbsp;&nbsp;&nbsp;&nbsp;case&nbsp;WHEN&nbsp;&nbsp;UPPER(e.PERFILTIPO)&nbsp;=&nbsp;UPPER('Microservicios')&nbsp;&nbsp;THEN&nbsp;UPPER('Microservicios')&nbsp;ELSE&nbsp;'BUS&nbsp;EMPRESARIAL'&nbsp;END&nbsp;LineaProducto,
&nbsp;&nbsp;&nbsp;&nbsp;case&nbsp;WHEN&nbsp;&nbsp;UPPER(e.PERFILTIPO)&nbsp;=&nbsp;UPPER('Microservicios')&nbsp;&nbsp;THEN&nbsp;UPPER('OPENSHIFT')&nbsp;ELSE&nbsp;'JAVA'&nbsp;END&nbsp;AS&nbsp;Especialidad,
&nbsp;&nbsp;&nbsp;&nbsp;t.horas&nbsp;horasDedicadas,
&nbsp;&nbsp;&nbsp;&nbsp;t.fechainireal&nbsp;AS&nbsp;fechaInicio,
&nbsp;&nbsp;&nbsp;&nbsp;t.fechafinreal&nbsp;AS&nbsp;fechaFin,
&nbsp;&nbsp;&nbsp;&nbsp;t.ASIGNADO_TAREA&nbsp;nombreEmpleado,
&nbsp;&nbsp;&nbsp;&nbsp;t.CODEMPLEADO&nbsp;as&nbsp;codEmpleado,
&nbsp;&nbsp;&nbsp;&nbsp;e.TOKENAZURE&nbsp;as&nbsp;tokenAzure,
&nbsp;&nbsp;&nbsp;&nbsp;au.pbi_id&nbsp;as&nbsp;idPbi,
&nbsp;&nbsp;&nbsp;&nbsp;e.cor&nbsp;AS&nbsp;nameCoordinacion,
&nbsp;&nbsp;&nbsp;&nbsp;t.CODPROYECTO&nbsp;as&nbsp;codProyecto,
&nbsp;&nbsp;&nbsp;&nbsp;e.codcor&nbsp;cod_coordinacion,
&nbsp;&nbsp;&nbsp;&nbsp;t.CODESTRUCTURAORGANIZACIONAL&nbsp;AS&nbsp;codcell,
&nbsp;&nbsp;&nbsp;&nbsp;t.CELULA&nbsp;AS&nbsp;nameCell,
&nbsp;&nbsp;&nbsp;&nbsp;au.id_azure&nbsp;AS&nbsp;ID_AZURE
FROM
&nbsp;&nbsp;&nbsp;&nbsp;DF_TAREAS_VIGENTES_V&nbsp;t
&nbsp;&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_EMPLEADO_VU&nbsp;e&nbsp;ON&nbsp;t.codempleado&nbsp;=&nbsp;e.codempleado
&nbsp;&nbsp;&nbsp;&nbsp;LEFT&nbsp;JOIN&nbsp;DF_AUDIT_TASKVALUESTREAM&nbsp;au&nbsp;ON&nbsp;au.ID&nbsp;=&nbsp;TO_CHAR(t.fechainireal,'YYMMDD')||TO_CHAR(t.fechafinreal,'DD')||LPAD(t.codproyecto,8,0)||LPAD(t.codempleado,8,0)||LPAD(t.codtarea,8,0)
WHERE
&nbsp;&nbsp;&nbsp;&nbsp;t.codproyecto&nbsp;&lt;>&nbsp;22&nbsp;AND&nbsp;t.codtarea&nbsp;is&nbsp;not&nbsp;null</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>4</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.6" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.7" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 7, 0)" class="currentrow">
<td class="currentcell">ERROR</td>
<td class="currentcell">0:0</td>
<td class="currentcell">ORA-00904:&nbsp;"T"."FECHAFINREAL":&nbsp;identificador&nbsp;no&nbsp;válido
</td>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
