<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Vistas
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="CONSOLIDADO_CUENTAS.html" target="ObjectDetailsFrame">CONSOLIDADO_CUENTAS</a>
<a href ="DF_ACTIVIDADES_PROVEEDOR_V.html" target="ObjectDetailsFrame">DF_ACTIVIDADES_PROVEEDOR_V</a>
<a href ="DF_BRIEF_LINEA_V.html" target="ObjectDetailsFrame">DF_BRIEF_LINEA_V</a>
<a href ="DF_CARGA_AZURE_OCU_V.html" target="ObjectDetailsFrame">DF_CARGA_AZURE_OCU_V</a>
<a href ="DF_DETALLE_ASIGNACION_V.html" target="ObjectDetailsFrame">DF_DETALLE_ASIGNACION_V</a>
<a href ="DF_EJECUCION1_V.html" target="ObjectDetailsFrame">DF_EJECUCION1_V</a>
<a href ="DF_EJECUCION1_V_OP.html" target="ObjectDetailsFrame">DF_EJECUCION1_V_OP</a>
<a href ="DF_EJECUCION2_V.html" target="ObjectDetailsFrame">DF_EJECUCION2_V</a>
<a href ="DF_EJECUCION_FABRICA_V.html" target="ObjectDetailsFrame">DF_EJECUCION_FABRICA_V</a>
<a href ="DF_EJECUCION_GENERAL_VU.html" target="ObjectDetailsFrame">DF_EJECUCION_GENERAL_VU</a>
<a href ="DF_EJECUCION_GENERAL_VU_OP.html" target="ObjectDetailsFrame">DF_EJECUCION_GENERAL_VU_OP</a>
<a href ="DF_EJECUCION_V.html" target="ObjectDetailsFrame">DF_EJECUCION_V</a>
<a href ="DF_EJECUTADOENRANGO_V.html" target="ObjectDetailsFrame">DF_EJECUTADOENRANGO_V</a>
<a href ="DF_EMPLEADO2_VU.html" target="ObjectDetailsFrame">DF_EMPLEADO2_VU</a>
<a href ="DF_EMPLEADO_VU.html" target="ObjectDetailsFrame">DF_EMPLEADO_VU</a>
<a href ="DF_EMPLE_EST_ORGANIZACIONAL_VU.html" target="ObjectDetailsFrame">DF_EMPLE_EST_ORGANIZACIONAL_VU</a>
<a href ="DF_ENTREGABLES_FACTURAR_V.html" target="ObjectDetailsFrame">DF_ENTREGABLES_FACTURAR_V</a>
<a href ="DF_ENTREGABLES_V.html" target="ObjectDetailsFrame">DF_ENTREGABLES_V</a>
<a href ="DF_ENTREGABLES_YEAR_V.html" target="ObjectDetailsFrame">DF_ENTREGABLES_YEAR_V</a>
<a href ="DF_ESTIMACIONES_ALL_V.html" target="ObjectDetailsFrame">DF_ESTIMACIONES_ALL_V</a>
<a href ="DF_ESTIMACIONES_V.html" target="ObjectDetailsFrame">DF_ESTIMACIONES_V</a>
<a href ="DF_ESTIMACIONES_VIGENTES.html" target="ObjectDetailsFrame">DF_ESTIMACIONES_VIGENTES</a>
<a href ="DF_ESTIMACION_COSTO.html" target="ObjectDetailsFrame">DF_ESTIMACION_COSTO</a>
<a href ="DF_ESTRUCTURAORG_JERARCA.html" target="ObjectDetailsFrame">DF_ESTRUCTURAORG_JERARCA</a>
<a href ="DF_EST_ORGANIZACIONAL_VU.html" target="ObjectDetailsFrame">DF_EST_ORGANIZACIONAL_VU</a>
<a href ="DF_GASTOS_PROYECTOS_V.html" target="ObjectDetailsFrame">DF_GASTOS_PROYECTOS_V</a>
<a href ="DF_HALLAZGOS_REPORTADOS.html" target="ObjectDetailsFrame">DF_HALLAZGOS_REPORTADOS</a>
<a href ="DF_INDICADOR_2024_2_V.html" target="ObjectDetailsFrame">DF_INDICADOR_2024_2_V</a>
<a href ="DF_INDICADOR_2024_V.html" target="ObjectDetailsFrame">DF_INDICADOR_2024_V</a>
<a href ="DF_INDICADOR_CALIDAD_V.html" target="ObjectDetailsFrame">DF_INDICADOR_CALIDAD_V</a>
<a href ="DF_INDICADOR_CUMPLIMIENTO_V.html" target="ObjectDetailsFrame">DF_INDICADOR_CUMPLIMIENTO_V</a>
<a href ="DF_INDICADOR_GERENCIA_2024_V.html" target="ObjectDetailsFrame">DF_INDICADOR_GERENCIA_2024_V</a>
<a href ="DF_INDICADOR_REGISTO_HORAS_V.html" target="ObjectDetailsFrame">DF_INDICADOR_REGISTO_HORAS_V</a>
<a href ="DF_INDICADOR_REGISTO_HORAS_V2.html" target="ObjectDetailsFrame">DF_INDICADOR_REGISTO_HORAS_V2</a>
<a href ="DF_INF_AZURE.html" target="ObjectDetailsFrame">DF_INF_AZURE</a>
<a href ="DF_INF_COMPROMISOS_FD_V.html" target="ObjectDetailsFrame">DF_INF_COMPROMISOS_FD_V</a>
<a href ="DF_INF_HORAS_EXTRAS.html" target="ObjectDetailsFrame">DF_INF_HORAS_EXTRAS</a>
<a href ="DF_INF_RRHHPAGOS_V.html" target="ObjectDetailsFrame">DF_INF_RRHHPAGOS_V</a>
<a href ="DF_NOVEDADES2_VU.html" target="ObjectDetailsFrame">DF_NOVEDADES2_VU</a>
<a href ="DF_NOVEDADES_VU.html" target="ObjectDetailsFrame">DF_NOVEDADES_VU</a>
<a href ="DF_OPTIMIZAR_V.html" target="ObjectDetailsFrame">DF_OPTIMIZAR_V</a>
<a href ="DF_PROYECCION.html" target="ObjectDetailsFrame">DF_PROYECCION</a>
<a href ="DF_PROYECCION_ENTREGABLE.html" target="ObjectDetailsFrame">DF_PROYECCION_ENTREGABLE</a>
<a href ="DF_PROYECTO_PRESUPUESTO_VU.html" target="ObjectDetailsFrame">DF_PROYECTO_PRESUPUESTO_VU</a>
<a href ="DF_RECURSOS_FACTURAR_VU.html" target="ObjectDetailsFrame">DF_RECURSOS_FACTURAR_VU</a>
<a href ="DF_RECURSOS_SF_VU.html" target="ObjectDetailsFrame">DF_RECURSOS_SF_VU</a>
<a href ="DF_RECURSOS_VU.html" target="ObjectDetailsFrame">DF_RECURSOS_VU</a>
<a href ="DF_RECURSOS_VU_SIN_ASIGNAR_DF.html" target="ObjectDetailsFrame">DF_RECURSOS_VU_SIN_ASIGNAR_DF</a>
<a href ="DF_REPFALLO_TASKVALUSTREAM_V.html" target="ObjectDetailsFrame">DF_REPFALLO_TASKVALUSTREAM_V</a>
<a href ="DF_REPORTETAREA2_VU.html" target="ObjectDetailsFrame">DF_REPORTETAREA2_VU</a>
<a href ="DF_REPORTETAREA_VU.html" target="ObjectDetailsFrame">DF_REPORTETAREA_VU</a>
<a href ="DF_REPORTE_HEXTRAS_VU.html" target="ObjectDetailsFrame">DF_REPORTE_HEXTRAS_VU</a>
<a href ="DF_REP_TASKVALUESTREAM.html" target="ObjectDetailsFrame">DF_REP_TASKVALUESTREAM</a>
<a href ="DF_REVISION_ESPECIFICA0_V.html" target="ObjectDetailsFrame">DF_REVISION_ESPECIFICA0_V</a>
<a href ="DF_ROADMAP_VU.html" target="ObjectDetailsFrame">DF_ROADMAP_VU</a>
<a href ="DF_SEGUIMIENTO_TAREAS_VU.html" target="ObjectDetailsFrame">DF_SEGUIMIENTO_TAREAS_VU</a>
<a href ="DF_TAREAACTIVIDAD_VU.html" target="ObjectDetailsFrame">DF_TAREAACTIVIDAD_VU</a>
<a href ="DF_TAREASPADRE_VIGENTE_SF_VU.html" target="ObjectDetailsFrame">DF_TAREASPADRE_VIGENTE_SF_VU</a>
<a href ="DF_TAREASPADRE_VIGENTE_V.html" target="ObjectDetailsFrame">DF_TAREASPADRE_VIGENTE_V</a>
<a href ="DF_TAREAS_EDITAR_V.html" target="ObjectDetailsFrame">DF_TAREAS_EDITAR_V</a>
<a href ="DF_TAREAS_PROYECTOS_VU.html" target="ObjectDetailsFrame">DF_TAREAS_PROYECTOS_VU</a>
<a href ="DF_TAREAS_VIGENTES_BACK_V.html" target="ObjectDetailsFrame">DF_TAREAS_VIGENTES_BACK_V</a>
<a href ="DF_TAREAS_VIGENTES_V.html" target="ObjectDetailsFrame">DF_TAREAS_VIGENTES_V</a>
<a href ="DF_TAREAS_VIGENTES_V2.html" target="ObjectDetailsFrame">DF_TAREAS_VIGENTES_V2</a>
<a href ="DF_TAREA_VU.html" target="ObjectDetailsFrame">DF_TAREA_VU</a>
<a href ="DF_TASKVALUESTREAM_FIELDS_V.html" target="ObjectDetailsFrame">DF_TASKVALUESTREAM_FIELDS_V</a>
<a href ="DF_VINCULACION_DATA.html" target="ObjectDetailsFrame">DF_VINCULACION_DATA</a>
<a href ="DMRS_INSTALLATION.html" target="ObjectDetailsFrame">DMRS_INSTALLATION</a>
<a href ="DMRV_REPORTS_VERSION_1_0.html" target="ObjectDetailsFrame">DMRV_REPORTS_VERSION_1_0</a>
<a href ="MINTIC_INGRESO_RETIRO.html" target="ObjectDetailsFrame">MINTIC_INGRESO_RETIRO</a>
<a href ="MINTIC_REP_NOVEDADES_VW.html" target="ObjectDetailsFrame">MINTIC_REP_NOVEDADES_VW</a>
<a href ="MINT_CANTIDAD_CONTRATOS.html" target="ObjectDetailsFrame">MINT_CANTIDAD_CONTRATOS</a>
<a href ="MINT_NOVEDADES.html" target="ObjectDetailsFrame">MINT_NOVEDADES</a>
<a href ="MINT_OPERACIONES.html" target="ObjectDetailsFrame">MINT_OPERACIONES</a>
<a href ="MINT_OPERACIONES2.html" target="ObjectDetailsFrame">MINT_OPERACIONES2</a>
<a href ="MINT_OPERACIONES_REV.html" target="ObjectDetailsFrame">MINT_OPERACIONES_REV</a>
<a href ="MINT_REV_CONTRATOS.html" target="ObjectDetailsFrame">MINT_REV_CONTRATOS</a>
<a href ="MINT_RR_REV.html" target="ObjectDetailsFrame">MINT_RR_REV</a>
<a href ="MNT_STATUS_SERVERS.html" target="ObjectDetailsFrame">MNT_STATUS_SERVERS</a>
<a href ="TAREA_VU.html" target="ObjectDetailsFrame">TAREA_VU</a>
<a href ="VIEW1.html" target="ObjectDetailsFrame">VIEW1</a>
<a href ="VTEST.html" target="ObjectDetailsFrame">VTEST</a>
<a href ="VW_INGRESO_RETIRO.html" target="ObjectDetailsFrame">VW_INGRESO_RETIRO</a>
<a href ="VW_MINT_NOVEDADES_ODI.html" target="ObjectDetailsFrame">VW_MINT_NOVEDADES_ODI</a>
<a href ="VW_MINT_NOVEDADES_ODI_INTER.html" target="ObjectDetailsFrame">VW_MINT_NOVEDADES_ODI_INTER</a>
<a href ="VW_MINT_OPERACIONES_ODI.html" target="ObjectDetailsFrame">VW_MINT_OPERACIONES_ODI</a>
<a href ="VW_MINT_OPERACIONES_ODI_INTER.html" target="ObjectDetailsFrame">VW_MINT_OPERACIONES_ODI_INTER</a>
<a href ="VW_SUSPENDIDOS.html" target="ObjectDetailsFrame">VW_SUSPENDIDOS</a>
<a href ="V_INDICADORES_ALERTAS.html" target="ObjectDetailsFrame">V_INDICADORES_ALERTAS</a>
<a href ="V_MNT_SERVIDORES.html" target="ObjectDetailsFrame">V_MNT_SERVIDORES</a>
<a href ="V_MNT_TBS.html" target="ObjectDetailsFrame">V_MNT_TBS</a>
<a href ="V_TEST_INDICADORES.html" target="ObjectDetailsFrame">V_TEST_INDICADORES</a>
<a href ="V_TFS_ESTIMACIONES.html" target="ObjectDetailsFrame">V_TFS_ESTIMACIONES</a>
<a href ="V_TFS_INDICADORES.html" target="ObjectDetailsFrame">V_TFS_INDICADORES</a>
<a href ="V_TFS_INDICADOR_RM.html" target="ObjectDetailsFrame">V_TFS_INDICADOR_RM</a>
<a href ="V_TFS_RM_MIDE.html" target="ObjectDetailsFrame">V_TFS_RM_MIDE</a>
<a href ="V_TFS_RM_MIDE_BACK.html" target="ObjectDetailsFrame">V_TFS_RM_MIDE_BACK</a>
<a href ="V_TFS_RM_MIDE_COMPLETO.html" target="ObjectDetailsFrame">V_TFS_RM_MIDE_COMPLETO</a>
<a href ="WV_TBL_SUSPENSION_RETIRO_A.html" target="ObjectDetailsFrame">WV_TBL_SUSPENSION_RETIRO_A</a>
<a href ="WV_TBL_SUSPENSION_RETIRO_B.html" target="ObjectDetailsFrame">WV_TBL_SUSPENSION_RETIRO_B</a>
<a href ="WV_TBL_SUSPENSION_RETIRO_C.html" target="ObjectDetailsFrame">WV_TBL_SUSPENSION_RETIRO_C</a>

</div></body> </html>