<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="TAREA_VU/report.js" type="text/javascript"></script>
<link href="TAREA_VU/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">TAREA_VU</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">ID</td>
<td class="currentcell">NUMBER</td>
<td class="currentcell">Yes</td>
<td class="currentcell">null</td>
<td class="currentcell">1</td>
<td class="currentcell">null</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
<td class="currentcell">NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>CODTAREA</td>
<td>NUMBER</td>
<td>No</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>CODTAREAPADRE</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>TAREAPADRE</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>CODTAREATIPO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>TAREATIPO</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>CODTAREAESTADO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>TAREAESTADO</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>8</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 8)">
<td>CODTAREAESTADOTIPO</td>
<td>NUMBER</td>
<td>No</td>
<td>null</td>
<td>9</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 9)">
<td>TAREAESTADOTIPO</td>
<td>VARCHAR2(50)</td>
<td>Yes</td>
<td>null</td>
<td>10</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 10)">
<td>CODEMPLEADOCREO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>11</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 11)">
<td>EMPLEADOCREO</td>
<td>VARCHAR2(203)</td>
<td>Yes</td>
<td>null</td>
<td>12</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 12)">
<td>CODEMPLEADOASIGNADO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>13</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 13)">
<td>EMPLEADOASIGNADO</td>
<td>VARCHAR2(203)</td>
<td>Yes</td>
<td>null</td>
<td>14</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 14)">
<td>CODPROYECTO</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>15</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 15)">
<td>PROYECTO</td>
<td>VARCHAR2(2000)</td>
<td>Yes</td>
<td>null</td>
<td>16</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 16)">
<td>JERARQUIA</td>
<td>VARCHAR2(1000)</td>
<td>Yes</td>
<td>null</td>
<td>17</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 17)">
<td>NIVEL</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>18</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 18)">
<td>NOMBRE</td>
<td>VARCHAR2(200)</td>
<td>Yes</td>
<td>null</td>
<td>19</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 19)">
<td>DESCRIPCION</td>
<td>VARCHAR2(2000)</td>
<td>Yes</td>
<td>null</td>
<td>20</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 20)">
<td>FECHAINIESTIMADA</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>21</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 21)">
<td>FECHAFINESTIMADA</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>22</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 22)">
<td>FECHAINIREAL</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>23</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 23)">
<td>FECHAFINREAL</td>
<td>DATE</td>
<td>Yes</td>
<td>null</td>
<td>24</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 24)">
<td>TIEMPOESTIMADO</td>
<td>NUMBER(12,2)</td>
<td>Yes</td>
<td>null</td>
<td>25</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 25)">
<td>TIEMPOREAL</td>
<td>NUMBER(12,2)</td>
<td>Yes</td>
<td>null</td>
<td>26</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>23/07/24</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>29/01/25</td>
</tr>
<tr>
<td>OWNER</td>
<td>PDB_CRONUS</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>TAREA_VU</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>1300</td>
</tr>
<tr>
<td>TEXT</td>
<td>SELECT&nbsp;	row_number()&nbsp;OVER&nbsp;(ORDER&nbsp;BY&nbsp;T.NOMBRE)&nbsp;ID,
			T.ID&nbsp;CODTAREA,
			T.CODTAREAPADRE,
			TP.NOMBRE&nbsp;TAREAPADRE,
			T.CODTAREATIPO,
			TT.NOMBRE&nbsp;TAREATIPO,
			T.CODTAREAESTADO,
			TE.NOMBRE&nbsp;TAREAESTADO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TET.ID&nbsp;CODTAREAESTADOTIPO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TET.NOMBRE&nbsp;TAREAESTADOTIPO,
			T.CODEMPLEADOCREO,
			PC.NOMBRE1&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;NVL(PC.NOMBRE2,&nbsp;'')&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;PC.APELLIDO1&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;NVL(PC.APELLIDO2,&nbsp;'')&nbsp;AS&nbsp;EMPLEADOCREO,
			T.CODEMPLEADOASIGNADO,
			PA.NOMBRE1&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;NVL(PA.NOMBRE2,&nbsp;'')&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;PA.APELLIDO1&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;NVL(PA.APELLIDO2,&nbsp;'')&nbsp;AS&nbsp;EMPLEADOASIGNADO,
			T.CODPROYECTO,
			P.NOMBRE&nbsp;PROYECTO,
			T.JERARQUIA,
			T.NIVEL,
			T.NOMBRE,
			T.DESCRIPCION,
			T.FECHAINIESTIMADA,
			T.FECHAFINESTIMADA,
			T.FECHAINIREAL,
			T.FECHAFINREAL,
			T.TIEMPOESTIMADO,
			T.TIEMPOREAL
	FROM&nbsp;DF_TAREA&nbsp;T
	LEFT&nbsp;JOIN&nbsp;DF_TAREA&nbsp;TP&nbsp;ON&nbsp;TP.ID&nbsp;=&nbsp;T.CODTAREAPADRE
	INNER&nbsp;JOIN&nbsp;DF_TAREATIPO&nbsp;TT&nbsp;ON&nbsp;TT.ID&nbsp;=&nbsp;T.CODTAREATIPO
	INNER&nbsp;JOIN&nbsp;DF_TAREAESTADO&nbsp;TE&nbsp;ON&nbsp;TE.ID&nbsp;=&nbsp;T.CODTAREAESTADO
&nbsp;&nbsp;&nbsp;&nbsp;INNER&nbsp;JOIN&nbsp;DF_TAREAESTADOTIPO&nbsp;TET&nbsp;ON&nbsp;TET.ID&nbsp;=&nbsp;TE.CODTAREAESTADOTIPO
	LEFT&nbsp;JOIN&nbsp;DF_EMPLEADO&nbsp;EC&nbsp;ON&nbsp;EC.ID&nbsp;=&nbsp;T.CODEMPLEADOCREO
	LEFT&nbsp;JOIN&nbsp;DF_PERSONA&nbsp;PC&nbsp;ON&nbsp;PC.ID&nbsp;=&nbsp;EC.CODPERSONA
	LEFT&nbsp;JOIN&nbsp;DF_EMPLEADO&nbsp;EA&nbsp;ON&nbsp;EA.ID&nbsp;=&nbsp;T.CODEMPLEADOASIGNADO
	LEFT&nbsp;JOIN&nbsp;DF_PERSONA&nbsp;PA&nbsp;ON&nbsp;PA.ID&nbsp;=&nbsp;EA.CODPERSONA
	INNER&nbsp;JOIN&nbsp;DF_PROYECTO&nbsp;P&nbsp;ON&nbsp;P.ID&nbsp;=&nbsp;T.CODPROYECTO</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>SELECT&nbsp;	row_number()&nbsp;OVER&nbsp;(ORDER&nbsp;BY&nbsp;T.NOMBRE)&nbsp;ID,
			T.ID&nbsp;CODTAREA,
			T.CODTAREAPADRE,
			TP.NOMBRE&nbsp;TAREAPADRE,
			T.CODTAREATIPO,
			TT.NOMBRE&nbsp;TAREATIPO,
			T.CODTAREAESTADO,
			TE.NOMBRE&nbsp;TAREAESTADO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TET.ID&nbsp;CODTAREAESTADOTIPO,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TET.NOMBRE&nbsp;TAREAESTADOTIPO,
			T.CODEMPLEADOCREO,
			PC.NOMBRE1&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;NVL(PC.NOMBRE2,&nbsp;'')&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;PC.APELLIDO1&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;NVL(PC.APELLIDO2,&nbsp;'')&nbsp;AS&nbsp;EMPLEADOCREO,
			T.CODEMPLEADOASIGNADO,
			PA.NOMBRE1&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;NVL(PA.NOMBRE2,&nbsp;'')&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;PA.APELLIDO1&nbsp;||&nbsp;'&nbsp;'&nbsp;||&nbsp;NVL(PA.APELLIDO2,&nbsp;'')&nbsp;AS&nbsp;EMPLEADOASIGNADO,
			T.CODPROYECTO,
			P.NOMBRE&nbsp;PROYECTO,
			T.JERARQUIA,
			T.NIVEL,
			T.NOMBRE,
			T.DESCRIPCION,
			T.FECHAINIESTIMADA,
			T.FECHAFINESTIMADA,
			T.FECHAINIREAL,
			T.FECHAFINREAL,
			T.TIEMPOESTIMADO,
			T.TIEMPOREAL
	FROM&nbsp;DF_TAREA&nbsp;T
	LEFT&nbsp;JOIN&nbsp;DF_TAREA&nbsp;TP&nbsp;ON&nbsp;TP.ID&nbsp;=&nbsp;T.CODTAREAPADRE
	INNER&nbsp;JOIN&nbsp;DF_TAREATIPO&nbsp;TT&nbsp;ON&nbsp;TT.ID&nbsp;=&nbsp;T.CODTAREATIPO
	INNER&nbsp;JOIN&nbsp;DF_TAREAESTADO&nbsp;TE&nbsp;ON&nbsp;TE.ID&nbsp;=&nbsp;T.CODTAREAESTADO
&nbsp;&nbsp;&nbsp;&nbsp;INNER&nbsp;JOIN&nbsp;DF_TAREAESTADOTIPO&nbsp;TET&nbsp;ON&nbsp;TET.ID&nbsp;=&nbsp;TE.CODTAREAESTADOTIPO
	LEFT&nbsp;JOIN&nbsp;DF_EMPLEADO&nbsp;EC&nbsp;ON&nbsp;EC.ID&nbsp;=&nbsp;T.CODEMPLEADOCREO
	LEFT&nbsp;JOIN&nbsp;DF_PERSONA&nbsp;PC&nbsp;ON&nbsp;PC.ID&nbsp;=&nbsp;EC.CODPERSONA
	LEFT&nbsp;JOIN&nbsp;DF_EMPLEADO&nbsp;EA&nbsp;ON&nbsp;EA.ID&nbsp;=&nbsp;T.CODEMPLEADOASIGNADO
	LEFT&nbsp;JOIN&nbsp;DF_PERSONA&nbsp;PA&nbsp;ON&nbsp;PA.ID&nbsp;=&nbsp;EA.CODPERSONA
	INNER&nbsp;JOIN&nbsp;DF_PROYECTO&nbsp;P&nbsp;ON&nbsp;P.ID&nbsp;=&nbsp;T.CODPROYECTO</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>4</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
