<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="VW_MINT_NOVEDADES_ODI_INTER/report.js" type="text/javascript"></script>
<link href="VW_MINT_NOVEDADES_ODI_INTER/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">VW_MINT_NOVEDADES_ODI_INTER</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">FECHA</td>
<td class="currentcell">UNDEFINED()</td>
<td class="currentcell">Yes</td>
<td class="currentcell">null</td>
<td class="currentcell">8</td>
<td class="currentcell">null</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>ID_BENEFICIARIO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>1</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>CUENTA</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>CONTR_APORTE</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>COD_DANE</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>DANE_MUNICIPIO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>NOVEDAD</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>F_NOVEDAD</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>23/07/24</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>23/07/24</td>
</tr>
<tr>
<td>OWNER</td>
<td>PDB_CRONUS</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>VW_MINT_NOVEDADES_ODI_INTER</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>2256</td>
</tr>
<tr>
<td>TEXT</td>
<td>select&nbsp;"ID_BENEFICIARIO","CUENTA","CONTR_APORTE","COD_DANE","DANE_MUNICIPIO","NOVEDAD","F_NOVEDAD","FECHA"&nbsp;from&nbsp;(
SELECT
DISTINCT&nbsp;ID_BENEFICIARIO,
MBACT1&nbsp;CUENTA,
CONTR_APOR_MINTIC&nbsp;CONTR_APORTE,
Case&nbsp;LENGTH(TRIM(MBAMUD))
when&nbsp;4&nbsp;THEN&nbsp;'0'&nbsp;||&nbsp;trim(MBAMUD)
else&nbsp;MBAMUD
end&nbsp;COD_DANE,
Case&nbsp;LENGTH(TRIM(MBAMUN))
when&nbsp;1&nbsp;THEN&nbsp;'0'&nbsp;||&nbsp;trim(MBAMUN)
else&nbsp;MBAMUN
end&nbsp;DANE_MUNICIPIO,
CASE
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'T'&nbsp;THEN&nbsp;'Traslado'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'R'&nbsp;THEN&nbsp;'Reconexion'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'D'&nbsp;THEN&nbsp;'Suspendido'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'C'&nbsp;THEN&nbsp;'Cesion'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'S'&nbsp;THEN&nbsp;'Suspendido'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'N'&nbsp;THEN&nbsp;TEMP_OPERACIONES_ODI.NOVEDAD
else&nbsp;null
END&nbsp;NOVEDAD,
CASE
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'T'&nbsp;THEN&nbsp;to_char(to_date(MBAFTR,'YYYYMMDD'),'DD/MM/YYYY')
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'S'&nbsp;THEN&nbsp;to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'D'&nbsp;THEN&nbsp;to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'R'&nbsp;THEN&nbsp;to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'N'&nbsp;THEN&nbsp;to_char(TEMP_OPERACIONES_ODI.FECHA_NOVEDAD,'DD/MM/YYYY')
END&nbsp;F_NOVEDAD,
null&nbsp;FECHA
FROM&nbsp;MINT_HISTORICORR_ODI_3
INNER&nbsp;JOIN&nbsp;MINT_OPERACIONES_ODI_INTER&nbsp;TEMP_OPERACIONES_ODI
ON&nbsp;TRIM(MBACT1)&nbsp;=&nbsp;TRIM(CUENTA)
WHERE&nbsp;NVL(ESTADO_FONTIC,'LEGALIZADO')&nbsp;IN&nbsp;('APROBADO'&nbsp;,'LEGALIZADO')
AND&nbsp;MBATNV&nbsp;IN&nbsp;('S','R','D','T','N')
AND&nbsp;ID_BENEFICIARIO&nbsp;IS&nbsp;NOT&nbsp;NULL
AND&nbsp;FECHA_NOVEDAD&nbsp;IS&nbsp;NOT&nbsp;NULL
UNION
SELECT
TEMP_OPERACIONES_ODI.ID_BENEFICIARIO,
TEMP_OPERACIONES_ODI.CUENTA,
TEMP_OPERACIONES_ODI.CONTR_APOR_MINTIC&nbsp;CONTR_APORTE,
TEMP_OPERACIONES_ODI.COD_DANE_CIUDAD&nbsp;COD_DANE,
INITCAP(LOWER(TEMP_OPERACIONES_ODI.CIUDAD))&nbsp;DANE_MUNICIPIO,
'INGRESO'&nbsp;NOVEDAD,
TO_CHAR(TEMP_OPERACIONES_ODI.FECHA_INI_OPERA,'DD/MM/YYYY')&nbsp;F_NOVEDAD,
null&nbsp;FECHA
FROM
MINT_OPERACIONES_ODI_INTER&nbsp;TEMP_OPERACIONES_ODI
INNER&nbsp;JOIN
(SELECT&nbsp;CONTR_APOR_MINTIC,
ID_BENEFICIARIO
FROM&nbsp;MINT_OPERACIONES_ODI_INTER&nbsp;TEMP_OPERACIONES_ODI
WHERE
ID_BENEFICIARIO&nbsp;IS&nbsp;NOT&nbsp;NULL
AND&nbsp;FECHA_NOVEDAD&nbsp;IS&nbsp;NOT&nbsp;NULL
GROUP&nbsp;BY
CONTR_APOR_MINTIC,
ID_BENEFICIARIO
HAVING&nbsp;COUNT(1)&nbsp;>=3)&nbsp;CUENTAS
ON&nbsp;TEMP_OPERACIONES_ODI.CONTR_APOR_MINTIC&nbsp;=&nbsp;CUENTAS.CONTR_APOR_MINTIC
AND&nbsp;TEMP_OPERACIONES_ODI.ID_BENEFICIARIO&nbsp;=&nbsp;CUENTAS.ID_BENEFICIARIO
WHERE
TEMP_OPERACIONES_ODI.NOVEDAD&nbsp;=&nbsp;'RETIRO'
)&nbsp;--where&nbsp;CONTR_APORTE&nbsp;=&nbsp;#PRY_ODI_INFO_MINTIC.V_003_NUMCONTRATO;;</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>select&nbsp;"ID_BENEFICIARIO","CUENTA","CONTR_APORTE","COD_DANE","DANE_MUNICIPIO","NOVEDAD","F_NOVEDAD","FECHA"&nbsp;from&nbsp;(
SELECT
DISTINCT&nbsp;ID_BENEFICIARIO,
MBACT1&nbsp;CUENTA,
CONTR_APOR_MINTIC&nbsp;CONTR_APORTE,
Case&nbsp;LENGTH(TRIM(MBAMUD))
when&nbsp;4&nbsp;THEN&nbsp;'0'&nbsp;||&nbsp;trim(MBAMUD)
else&nbsp;MBAMUD
end&nbsp;COD_DANE,
Case&nbsp;LENGTH(TRIM(MBAMUN))
when&nbsp;1&nbsp;THEN&nbsp;'0'&nbsp;||&nbsp;trim(MBAMUN)
else&nbsp;MBAMUN
end&nbsp;DANE_MUNICIPIO,
CASE
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'T'&nbsp;THEN&nbsp;'Traslado'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'R'&nbsp;THEN&nbsp;'Reconexion'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'D'&nbsp;THEN&nbsp;'Suspendido'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'C'&nbsp;THEN&nbsp;'Cesion'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'S'&nbsp;THEN&nbsp;'Suspendido'
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'N'&nbsp;THEN&nbsp;TEMP_OPERACIONES_ODI.NOVEDAD
else&nbsp;null
END&nbsp;NOVEDAD,
CASE
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'T'&nbsp;THEN&nbsp;to_char(to_date(MBAFTR,'YYYYMMDD'),'DD/MM/YYYY')
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'S'&nbsp;THEN&nbsp;to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'D'&nbsp;THEN&nbsp;to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'R'&nbsp;THEN&nbsp;to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')
WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'N'&nbsp;THEN&nbsp;to_char(TEMP_OPERACIONES_ODI.FECHA_NOVEDAD,'DD/MM/YYYY')
END&nbsp;F_NOVEDAD,
null&nbsp;FECHA
FROM&nbsp;MINT_HISTORICORR_ODI_3
INNER&nbsp;JOIN&nbsp;MINT_OPERACIONES_ODI_INTER&nbsp;TEMP_OPERACIONES_ODI
ON&nbsp;TRIM(MBACT1)&nbsp;=&nbsp;TRIM(CUENTA)
WHERE&nbsp;NVL(ESTADO_FONTIC,'LEGALIZADO')&nbsp;IN&nbsp;('APROBADO'&nbsp;,'LEGALIZADO')
AND&nbsp;MBATNV&nbsp;IN&nbsp;('S','R','D','T','N')
AND&nbsp;ID_BENEFICIARIO&nbsp;IS&nbsp;NOT&nbsp;NULL
AND&nbsp;FECHA_NOVEDAD&nbsp;IS&nbsp;NOT&nbsp;NULL
UNION
SELECT
TEMP_OPERACIONES_ODI.ID_BENEFICIARIO,
TEMP_OPERACIONES_ODI.CUENTA,
TEMP_OPERACIONES_ODI.CONTR_APOR_MINTIC&nbsp;CONTR_APORTE,
TEMP_OPERACIONES_ODI.COD_DANE_CIUDAD&nbsp;COD_DANE,
INITCAP(LOWER(TEMP_OPERACIONES_ODI.CIUDAD))&nbsp;DANE_MUNICIPIO,
'INGRESO'&nbsp;NOVEDAD,
TO_CHAR(TEMP_OPERACIONES_ODI.FECHA_INI_OPERA,'DD/MM/YYYY')&nbsp;F_NOVEDAD,
null&nbsp;FECHA
FROM
MINT_OPERACIONES_ODI_INTER&nbsp;TEMP_OPERACIONES_ODI
INNER&nbsp;JOIN
(SELECT&nbsp;CONTR_APOR_MINTIC,
ID_BENEFICIARIO
FROM&nbsp;MINT_OPERACIONES_ODI_INTER&nbsp;TEMP_OPERACIONES_ODI
WHERE
ID_BENEFICIARIO&nbsp;IS&nbsp;NOT&nbsp;NULL
AND&nbsp;FECHA_NOVEDAD&nbsp;IS&nbsp;NOT&nbsp;NULL
GROUP&nbsp;BY
CONTR_APOR_MINTIC,
ID_BENEFICIARIO
HAVING&nbsp;COUNT(1)&nbsp;>=3)&nbsp;CUENTAS
ON&nbsp;TEMP_OPERACIONES_ODI.CONTR_APOR_MINTIC&nbsp;=&nbsp;CUENTAS.CONTR_APOR_MINTIC
AND&nbsp;TEMP_OPERACIONES_ODI.ID_BENEFICIARIO&nbsp;=&nbsp;CUENTAS.ID_BENEFICIARIO
WHERE
TEMP_OPERACIONES_ODI.NOVEDAD&nbsp;=&nbsp;'RETIRO'
)&nbsp;--where&nbsp;CONTR_APORTE&nbsp;=&nbsp;#PRY_ODI_INFO_MINTIC.V_003_NUMCONTRATO;;</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>4</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 5, 0)" class="currentrow">
<td class="currentcell">ERROR</td>
<td class="currentcell">0:0</td>
<td class="currentcell">ORA-00942:&nbsp;table&nbsp;or&nbsp;view&nbsp;does&nbsp;not&nbsp;exist
</td>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
