<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="VW_SUSPENDIDOS/report.js" type="text/javascript"></script>
<link href="VW_SUSPENDIDOS/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">VW_SUSPENDIDOS</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">ID_BENEFICIARIO</td>
<td class="currentcell">UNDEFINED()</td>
<td class="currentcell">Yes</td>
<td class="currentcell">null</td>
<td class="currentcell">1</td>
<td class="currentcell">null</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>CUENTA</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>CONTR_APORTE</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>COD_DANE</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>4</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>DANE_MUNICIPIO</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>5</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>NOVEDAD1</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>6</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 6)">
<td>NOVEDAD</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>7</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 7)">
<td>F_NOVEDAD</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>8</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 8)">
<td>FECHA_LAG</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>9</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 9)">
<td>DIAS_DIFERENCIA</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>10</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 10)">
<td>VALIDA_NOVEDAD1</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>11</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 11)">
<td>VALIDA_NOVEDAD</td>
<td>UNDEFINED()</td>
<td>Yes</td>
<td>null</td>
<td>12</td>
<td>null</td>
<td>YES</td>
<td>YES</td>
<td>YES</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>23/07/24</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>23/07/24</td>
</tr>
<tr>
<td>OWNER</td>
<td>PDB_CRONUS</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>VW_SUSPENDIDOS</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>2626</td>
</tr>
<tr>
<td>TEXT</td>
<td>SELECT
&nbsp;&nbsp;&nbsp;&nbsp;ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,CONTR_APORTE
&nbsp;&nbsp;&nbsp;&nbsp;,COD_DANE
&nbsp;&nbsp;&nbsp;&nbsp;,DANE_MUNICIPIO
&nbsp;&nbsp;&nbsp;&nbsp;,SUBSTR(NOVEDAD,INSTR(NOVEDAD,'-',1)+1)&nbsp;as&nbsp;NOVEDAD1
&nbsp;&nbsp;&nbsp;&nbsp;,NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,F_NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,FECHA_LAG&nbsp;-->&nbsp;Quita
&nbsp;&nbsp;&nbsp;&nbsp;,CASE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;NOVEDAD&nbsp;=&nbsp;'01-Suspendido'&nbsp;THEN&nbsp;0&nbsp;ELSE&nbsp;DIAS_DIFERENCIA&nbsp;END&nbsp;DIAS_DIFERENCIA
&nbsp;&nbsp;&nbsp;&nbsp;,VALIDA_NOVEDAD1&nbsp;-->&nbsp;Quita
&nbsp;&nbsp;&nbsp;&nbsp;,VALIDA_NOVEDAD&nbsp;-->&nbsp;Quita
FROM(
SELECT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,CONTR_APORTE
&nbsp;&nbsp;&nbsp;&nbsp;,COD_DANE
&nbsp;&nbsp;&nbsp;&nbsp;,DANE_MUNICIPIO
&nbsp;&nbsp;&nbsp;&nbsp;,NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,F_NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,FECHA_LAG
&nbsp;&nbsp;&nbsp;&nbsp;--,CASE
&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;NOVEDAD&nbsp;IN&nbsp;('Reconexion','Retiro')&nbsp;THEN&nbsp;F_NOVEDAD&nbsp;-&nbsp;FECHA_LAG&nbsp;END&nbsp;AS&nbsp;A&nbsp;-->&nbsp;Quita
&nbsp;&nbsp;&nbsp;&nbsp;,F_NOVEDAD&nbsp;-&nbsp;FECHA_LAG&nbsp;AS&nbsp;DIAS_DIFERENCIA
&nbsp;&nbsp;&nbsp;&nbsp;--,CASE
&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;WHEN&nbsp;NOVEDAD&nbsp;=&nbsp;'Suspendido'&nbsp;THEN&nbsp;&nbsp;0&nbsp;else&nbsp;F_NOVEDAD&nbsp;-&nbsp;FECHA_LAG&nbsp;END&nbsp;AS&nbsp;C&nbsp;-->&nbsp;Quita
&nbsp;&nbsp;&nbsp;&nbsp;,VALIDA_NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,CASE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;NOVEDAD&nbsp;=&nbsp;'03-Retiro'&nbsp;AND&nbsp;VALIDA_NOVEDAD&nbsp;=&nbsp;'02-Reconexion'&nbsp;THEN&nbsp;'Quitar'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--WHEN&nbsp;NOVEDAD&nbsp;=&nbsp;'03-Retiro'&nbsp;AND&nbsp;F_NOVEDAD&nbsp;>=&nbsp;FECHA_LAG&nbsp;THEN&nbsp;'Quitar'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE&nbsp;'Dejar'&nbsp;END&nbsp;VALIDA_NOVEDAD1
FROM&nbsp;(
SELECT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,CONTR_APOR_MINTIC&nbsp;AS&nbsp;CONTR_APORTE
&nbsp;&nbsp;&nbsp;&nbsp;,COD_DANE_CIUDAD&nbsp;AS&nbsp;COD_DANE
&nbsp;&nbsp;&nbsp;&nbsp;,CIUDAD&nbsp;AS&nbsp;DANE_MUNICIPIO
&nbsp;&nbsp;&nbsp;&nbsp;,NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,FECHA_NOVEDAD&nbsp;AS&nbsp;F_NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,LAG(FECHA_NOVEDAD)&nbsp;OVER&nbsp;(&nbsp;PARTITION&nbsp;BY&nbsp;ID_BENEFICIARIO,&nbsp;CUENTA&nbsp;ORDER&nbsp;BY&nbsp;ID_BENEFICIARIO,&nbsp;FECHA_NOVEDAD,&nbsp;NOVEDAD)&nbsp;AS&nbsp;FECHA_LAG
&nbsp;&nbsp;&nbsp;&nbsp;,LAG(NOVEDAD)&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;ID_BENEFICIARIO,&nbsp;CUENTA&nbsp;ORDER&nbsp;BY&nbsp;ID_BENEFICIARIO&nbsp;,&nbsp;FECHA_NOVEDAD,&nbsp;NOVEDAD)&nbsp;AS&nbsp;VALIDA_NOVEDAD
FROM&nbsp;(
SELECT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OP.ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,OP.CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,OP.CONTR_APOR_MINTIC
&nbsp;&nbsp;&nbsp;&nbsp;,OP.COD_DANE_CIUDAD
&nbsp;&nbsp;&nbsp;&nbsp;,OP.CIUDAD
&nbsp;&nbsp;&nbsp;&nbsp;,CASE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;RR.MBATNV&nbsp;=&nbsp;'R'&nbsp;THEN&nbsp;'02-Reconexion'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;RR.MBATNV&nbsp;IN&nbsp;('S','D')&nbsp;THEN&nbsp;'01-Suspendido'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;OP.NOVEDAD&nbsp;=&nbsp;'RETIRO'&nbsp;THEN&nbsp;'03-Retiro'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END&nbsp;NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,CASE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'S'&nbsp;THEN&nbsp;CAST&nbsp;(to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')&nbsp;AS&nbsp;DATE)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'D'&nbsp;THEN&nbsp;CAST&nbsp;(to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')&nbsp;AS&nbsp;DATE)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'R'&nbsp;THEN&nbsp;CAST&nbsp;(to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')&nbsp;AS&nbsp;DATE)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;TRIM(NOVEDAD)&nbsp;=&nbsp;'RETIRO'&nbsp;THEN&nbsp;CAST&nbsp;(to_char(OP.FECHA_NOVEDAD,'DD/MM/YYYY')&nbsp;AS&nbsp;DATE)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END&nbsp;FECHA_NOVEDAD
FROM&nbsp;MINT_HISTORICORR_ODI_3&nbsp;RR
JOIN&nbsp;MINT_OPERACIONES_ODI&nbsp;OP
ON&nbsp;(RR.MBACT1&nbsp;=&nbsp;OP.CUENTA&nbsp;&nbsp;AND&nbsp;OP.CONTR_APOR_MINTIC&nbsp;=&nbsp;'855'))&nbsp;A
WHERE&nbsp;NOVEDAD&nbsp;IS&nbsp;NOT&nbsp;NULL
AND&nbsp;ID_BENEFICIARIO&nbsp;IS&nbsp;NOT&nbsp;NULL
GROUP&nbsp;BY
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,CONTR_APOR_MINTIC
&nbsp;&nbsp;&nbsp;&nbsp;,COD_DANE_CIUDAD
&nbsp;&nbsp;&nbsp;&nbsp;,CIUDAD
&nbsp;&nbsp;&nbsp;&nbsp;,NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,FECHA_NOVEDAD)&nbsp;B
ORDER&nbsp;BY&nbsp;ID_BENEFICIARIO&nbsp;ASC&nbsp;,&nbsp;F_NOVEDAD&nbsp;ASC,&nbsp;NOVEDAD&nbsp;ASC)&nbsp;C
--WHERE&nbsp;VALIDA_NOVEDAD&nbsp;&lt;>&nbsp;'Quitar'
where&nbsp;id_beneficiario&nbsp;=&nbsp;176</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>SELECT
&nbsp;&nbsp;&nbsp;&nbsp;ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,CONTR_APORTE
&nbsp;&nbsp;&nbsp;&nbsp;,COD_DANE
&nbsp;&nbsp;&nbsp;&nbsp;,DANE_MUNICIPIO
&nbsp;&nbsp;&nbsp;&nbsp;,SUBSTR(NOVEDAD,INSTR(NOVEDAD,'-',1)+1)&nbsp;as&nbsp;NOVEDAD1
&nbsp;&nbsp;&nbsp;&nbsp;,NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,F_NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,FECHA_LAG&nbsp;-->&nbsp;Quita
&nbsp;&nbsp;&nbsp;&nbsp;,CASE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;NOVEDAD&nbsp;=&nbsp;'01-Suspendido'&nbsp;THEN&nbsp;0&nbsp;ELSE&nbsp;DIAS_DIFERENCIA&nbsp;END&nbsp;DIAS_DIFERENCIA
&nbsp;&nbsp;&nbsp;&nbsp;,VALIDA_NOVEDAD1&nbsp;-->&nbsp;Quita
&nbsp;&nbsp;&nbsp;&nbsp;,VALIDA_NOVEDAD&nbsp;-->&nbsp;Quita
FROM(
SELECT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,CONTR_APORTE
&nbsp;&nbsp;&nbsp;&nbsp;,COD_DANE
&nbsp;&nbsp;&nbsp;&nbsp;,DANE_MUNICIPIO
&nbsp;&nbsp;&nbsp;&nbsp;,NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,F_NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,FECHA_LAG
&nbsp;&nbsp;&nbsp;&nbsp;--,CASE
&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;NOVEDAD&nbsp;IN&nbsp;('Reconexion','Retiro')&nbsp;THEN&nbsp;F_NOVEDAD&nbsp;-&nbsp;FECHA_LAG&nbsp;END&nbsp;AS&nbsp;A&nbsp;-->&nbsp;Quita
&nbsp;&nbsp;&nbsp;&nbsp;,F_NOVEDAD&nbsp;-&nbsp;FECHA_LAG&nbsp;AS&nbsp;DIAS_DIFERENCIA
&nbsp;&nbsp;&nbsp;&nbsp;--,CASE
&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;WHEN&nbsp;NOVEDAD&nbsp;=&nbsp;'Suspendido'&nbsp;THEN&nbsp;&nbsp;0&nbsp;else&nbsp;F_NOVEDAD&nbsp;-&nbsp;FECHA_LAG&nbsp;END&nbsp;AS&nbsp;C&nbsp;-->&nbsp;Quita
&nbsp;&nbsp;&nbsp;&nbsp;,VALIDA_NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,CASE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;NOVEDAD&nbsp;=&nbsp;'03-Retiro'&nbsp;AND&nbsp;VALIDA_NOVEDAD&nbsp;=&nbsp;'02-Reconexion'&nbsp;THEN&nbsp;'Quitar'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--WHEN&nbsp;NOVEDAD&nbsp;=&nbsp;'03-Retiro'&nbsp;AND&nbsp;F_NOVEDAD&nbsp;>=&nbsp;FECHA_LAG&nbsp;THEN&nbsp;'Quitar'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE&nbsp;'Dejar'&nbsp;END&nbsp;VALIDA_NOVEDAD1
FROM&nbsp;(
SELECT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,CONTR_APOR_MINTIC&nbsp;AS&nbsp;CONTR_APORTE
&nbsp;&nbsp;&nbsp;&nbsp;,COD_DANE_CIUDAD&nbsp;AS&nbsp;COD_DANE
&nbsp;&nbsp;&nbsp;&nbsp;,CIUDAD&nbsp;AS&nbsp;DANE_MUNICIPIO
&nbsp;&nbsp;&nbsp;&nbsp;,NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,FECHA_NOVEDAD&nbsp;AS&nbsp;F_NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,LAG(FECHA_NOVEDAD)&nbsp;OVER&nbsp;(&nbsp;PARTITION&nbsp;BY&nbsp;ID_BENEFICIARIO,&nbsp;CUENTA&nbsp;ORDER&nbsp;BY&nbsp;ID_BENEFICIARIO,&nbsp;FECHA_NOVEDAD,&nbsp;NOVEDAD)&nbsp;AS&nbsp;FECHA_LAG
&nbsp;&nbsp;&nbsp;&nbsp;,LAG(NOVEDAD)&nbsp;OVER&nbsp;(PARTITION&nbsp;BY&nbsp;ID_BENEFICIARIO,&nbsp;CUENTA&nbsp;ORDER&nbsp;BY&nbsp;ID_BENEFICIARIO&nbsp;,&nbsp;FECHA_NOVEDAD,&nbsp;NOVEDAD)&nbsp;AS&nbsp;VALIDA_NOVEDAD
FROM&nbsp;(
SELECT
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OP.ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,OP.CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,OP.CONTR_APOR_MINTIC
&nbsp;&nbsp;&nbsp;&nbsp;,OP.COD_DANE_CIUDAD
&nbsp;&nbsp;&nbsp;&nbsp;,OP.CIUDAD
&nbsp;&nbsp;&nbsp;&nbsp;,CASE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;RR.MBATNV&nbsp;=&nbsp;'R'&nbsp;THEN&nbsp;'02-Reconexion'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;RR.MBATNV&nbsp;IN&nbsp;('S','D')&nbsp;THEN&nbsp;'01-Suspendido'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;OP.NOVEDAD&nbsp;=&nbsp;'RETIRO'&nbsp;THEN&nbsp;'03-Retiro'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END&nbsp;NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,CASE
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'S'&nbsp;THEN&nbsp;CAST&nbsp;(to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')&nbsp;AS&nbsp;DATE)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'D'&nbsp;THEN&nbsp;CAST&nbsp;(to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')&nbsp;AS&nbsp;DATE)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;TRIM(MBATNV)&nbsp;=&nbsp;'R'&nbsp;THEN&nbsp;CAST&nbsp;(to_char(to_date(MBAFER,'YYYYMMDD'),'DD/MM/YYYY')&nbsp;AS&nbsp;DATE)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEN&nbsp;TRIM(NOVEDAD)&nbsp;=&nbsp;'RETIRO'&nbsp;THEN&nbsp;CAST&nbsp;(to_char(OP.FECHA_NOVEDAD,'DD/MM/YYYY')&nbsp;AS&nbsp;DATE)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END&nbsp;FECHA_NOVEDAD
FROM&nbsp;MINT_HISTORICORR_ODI_3&nbsp;RR
JOIN&nbsp;MINT_OPERACIONES_ODI&nbsp;OP
ON&nbsp;(RR.MBACT1&nbsp;=&nbsp;OP.CUENTA&nbsp;&nbsp;AND&nbsp;OP.CONTR_APOR_MINTIC&nbsp;=&nbsp;'855'))&nbsp;A
WHERE&nbsp;NOVEDAD&nbsp;IS&nbsp;NOT&nbsp;NULL
AND&nbsp;ID_BENEFICIARIO&nbsp;IS&nbsp;NOT&nbsp;NULL
GROUP&nbsp;BY
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID_BENEFICIARIO
&nbsp;&nbsp;&nbsp;&nbsp;,CUENTA
&nbsp;&nbsp;&nbsp;&nbsp;,CONTR_APOR_MINTIC
&nbsp;&nbsp;&nbsp;&nbsp;,COD_DANE_CIUDAD
&nbsp;&nbsp;&nbsp;&nbsp;,CIUDAD
&nbsp;&nbsp;&nbsp;&nbsp;,NOVEDAD
&nbsp;&nbsp;&nbsp;&nbsp;,FECHA_NOVEDAD)&nbsp;B
ORDER&nbsp;BY&nbsp;ID_BENEFICIARIO&nbsp;ASC&nbsp;,&nbsp;F_NOVEDAD&nbsp;ASC,&nbsp;NOVEDAD&nbsp;ASC)&nbsp;C
--WHERE&nbsp;VALIDA_NOVEDAD&nbsp;&lt;>&nbsp;'Quitar'
where&nbsp;id_beneficiario&nbsp;=&nbsp;176</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>4</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 5, 0)" class="currentrow">
<td class="currentcell">ERROR</td>
<td class="currentcell">0:0</td>
<td class="currentcell">ORA-00942:&nbsp;table&nbsp;or&nbsp;view&nbsp;does&nbsp;not&nbsp;exist
</td>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
